[2016-02-21 01:00] svoynow opened #8 "documentation of path parameter is unclear.."
to me, at any rate.
The example doesn't help my confusion since there it is the same name as the resource.

[2016-02-23 17:02] jtarchie commented on #8
In a `put`, all the resources are mounted in the file system of the container by their name. So a resource of name `resource-name` would be available in the current working directory of the `put` at `./resource-name`. That is what the `path` value refers to. It is very similar to the `git` resource path.

[2016-02-23 17:19] svoynow commented on #8
Sorry, I'm afraid I'm still not getting it. I thought the put here was
concerned with updating github. Don't we know everything we need to do that
from the definition of the resource?

On Tue, Feb 23, 2016 at 9:02 AM, JT Archie <notifications@github.com> wrote:

--
Sasha Voynow
Lab Zero
Pier 9, The Embarcadero
San Francisco CA 94111
510 859 3206
skype: sasha.voynow
www.labzero.com

[2016-02-23 20:19] jtarchie commented on #8
We don't. The resource on `put` doesn't have access to data it collected on the `get`. They are mutually exclusive actions.

[2016-03-04 13:46] jtarchie commented on #8
Closing this issue as there's been no response. Please let me know if I can help more. If you have more specific concourse resource questions, please ask in the slack channel.

[2016-03-04 13:46] #8 closed

[2016-03-11 22:16] jtarchie opened #10 "when using the `check` param it will effect the `check` as it still relies on `concourseci` context"
The [line](https://github.com/jtarchie/pullrequest-resource/blob/master/assets/lib/common.rb#L65-L68) in question, which is affected by custom `context`es

[2016-03-11 23:14] jtarchie commented on #10
@colstrom, I might have to undo this support because of how it effects `check`.

[2016-03-11 23:17] jtarchie commented on #10
Might be able to do the `check` based on the SHA meta information rather than the `context` check.

[2016-03-11 23:25] colstrom commented on #10
Any issues you can think of with using the commit hash?

[2016-03-15 16:26] jtarchie commented on #10
@colstrom, yes, I rely on the `context` as a *state-machine* to help me iterate through pull requests. Otherwise I run into the problem that a resource does have persistence. The `check` would become like the `git` resource `check` and aggregate a bunch of PRs.

Would you be satisified with custom contexts, but with it being prepended with `concourse-ci`? For example if you used `params: {context:

[2016-03-16 15:10] jtarchie opened #11 "the meta url for pull request is the api URL not the URL to the github pull request"
fix this!

[2016-03-31 06:01] zachgersh opened #12 "Example URL in README broken?"
Hey JT,

Totally looking at using this for a project and wanted to check out the example URL but I couldn't load the page ;/

[2016-03-31 14:24] jtarchie commented on #12
Yeah, when I got an AWS bill over $100 / month, I had to rethink my deployment.

The example URL didn't actually include the pull request resource running itself against itself. This was the [pipeline](https://github.com/jtarchie/pullrequest-resource/blob/master/.concourse.yml) it was running.

What were you looking for?

[2016-03-31 14:25] jtarchie commented on #10
I've fixed this issue as of this [commit](https://github.com/jtarchie/pullrequest-resource/commit/933ad6019b843f5e7aea65cf1c28f20049ccad14).

It was a backwards incompatible change, but going forward I don't planned to switch from a status message not being prepended `concourse-ci`. This has been documented, too.

[2016-03-31 14:25] #10 closed

[2016-03-31 14:44] jtarchie commented on #11
The API attribute is `html_url` not `url`.

This was fixed on this [commit](https://github.com/jtarchie/pullrequest-resource/commit/414e06d4db00b8c92bd5127ae4c6dd6b3075d54e).

[2016-03-31 14:44] #11 closed

[2016-04-05 23:48] jtarchie opened #13 "rerun pull request"
There has been a feature request to be able to rerun PRs.

If a PR get's a new HEAD it will rerun. Is that good enough?

I'd like to refrain from creating a bot that watches for comments on PRs. Perhaps there is another part of state on the PR that is easily configurable, which could be use for versioning. Title?

[2016-04-29 23:04] jtarchie opened #15 "support the `trigger: every` for a `get`"
I'd like to migrate the resource to only support the new feature with concourse v1.2 `version: every`. This allows the resource to iterated over without having to check the github status for state.

I'd like to give a migration path, though.

I'm thinking of making the feature an opt in feature for now via `source` so the `check` step return all versions.

If the `source` value was not provided a

[2016-05-01 11:22] ahelal opened #16 "Private repo"
Hey,
Thank you for this repo. It works perfect with public repo as for private I have some issues. Take the following config
[code]
The **check** works and i get a Ref, but In the **get** part fails with the following error
[code]
not sure what am I doing wrong ?

[2016-05-03 19:35] jtarchie commented on #16
You need to set the `uri` on `source` to the git SSH url.

From the README:

[code]

Let me know if that works for you.

[2016-05-05 11:32] ahelal commented on #16
thanks that works 👍

[2016-05-05 11:32] #16 closed

[2016-05-10 02:24] jtarchie commented on #13
Closing, rely on concourse for retries.

[2016-05-10 02:24] #13 closed

[2016-06-30 11:11] amenzhinsky opened #19 "Trailing slash problem"
I'm trying to use this extension.

Here is mine pipeline:

[code]

But I get this error:
[code]

I't s like the problem caused by the trailing slash because https://api.github.com/repos/amenzhinsky/transinet-concourse/pulls works file

[2016-06-30 12:32] #19 closed

[2016-07-12 14:13] jtarchie commented on #15
Just a head's up, this is coming down the pipeline!

[2016-07-13 06:56] ahelal commented on #15
Haa i was about to open an ISSUE :)

[2016-07-18 17:29] tawanda opened #22 "Will this work for bitbucket repos"
Hi, will this work for bitbucket repos or only github, If not would it be a simple task to fork and modify

[2016-07-18 22:42] jtarchie commented on #22
Hi, @tawanda!

1. It is github only. It relies heavily on Github behaviour.

2. I am not familiar with bitbucket to judge the complexity. Just a quick look shows that the pull request on Bitbucket does not have a status message for a SHA. Any leads?

-- @jtarchie

[2016-07-19 05:36] tawanda commented on #22
Thanks jt, will have to manually go about it

[2016-07-19 13:07] #22 closed

[2016-07-23 23:54] jtarchie commented on #12
Removed the broken link. Will return.

[2016-07-23 23:54] #12 closed

[2016-07-23 23:57] jtarchie commented on #15
I've push out the [changes](https://github.com/jtarchie/pullrequest-resource/commit/4e65a8f2f6a347f295a452559898499b511ffbaa). They should work with any version of concourse 1.2.x and greater. It will deprecate the need to set a status, so the next PR can be iterated.

I would love someone to try it out. It will be an opt-in feature. It only affects the `check` step, the other steps don't change.

[2016-07-24 05:37] everpeace commented on #15
@jtarchie Thanks for the update!!  I just tested `version: every` in my local concourse. This works like a charm :-)

I commented a small think [here](https://github.com/jtarchie/pullrequest-resource/commit/4e65a8f2f6a347f295a452559898499b511ffbaa#commitcomment-18370326).

[2016-08-05 06:39] halimacc opened #26 "Check returns new pr after last one had been tested"
Hi, is it possible to add a option in check to support check returning new pr only if there's no pr in pending status?
I supposed this option might be useful because some pipeline jobs share resources and can take only one build at the same time.

[2016-08-05 23:02] jtarchie commented on #26
@halimacc, can you give a clear use case for this feature?

[2016-08-06 15:04] halimacc commented on #26
@jtarchie in short is to test PRs one by one, start the test on next PR after the last test ends.
A more detailed example is that suppose I had a pipeline to test every pr to my repo, but the task to build my repo requires expensive resources (such as an Azure storage, several Azure VMs), my resources were limited that could afford only one build at the same time. So i wish pullrequest-resource no

[2016-08-06 19:30] jtarchie commented on #26
@halimacc, concourse already support a mechanism for this in the pipeline specification. The `serial` attribute can be used to enforce only one instance of a job can run at a time. If there are many triggers, they just queue until the one is done -- [docs](http://concourse.ci/configuring-jobs.html#serial).

[2016-08-08 02:09] halimacc commented on #26
@jtarchie thanks, in fact there are several jobs that depends on same cloud resources in my pipeline and they need to be executed in serial as a whole. Rearranging them into a single job and using `serial` attribute could solve the problem, but it makes the job too heavy and the whole execution time longer , that's why i think making it serial from the source might be a better choice.

[2016-08-08 04:52] jtarchie commented on #26
@halimacc, please read the docs further. Using [`serial_groups`](http://concourse.ci/configuring-jobs.html#serial_groups) allows jobs to be defined, so they happe serially, so they don't have to be combined.

Concourse can currently support your use case. It just requires some extra effort on your end. The resource's responsibility is to return new PRs. The functionality you are asking for is goin

[2016-08-08 04:52] #26 closed

[2016-08-08 04:59] halimacc commented on #26
@jtarchie , see it, thanks a lot. I do need to read the docs further...

[2016-08-08 09:28] halimacc opened #27 "Order of PRs when set every to true"
Hi, when set `every: true` in `source`, the PRs returned by check should be ordered from latest to oldest. Because when set `version: every` at get, it starts from the version after the most recently used and move forward. In current order(oldest to latest), new PRs can never be iterated to.

[2016-08-09 01:25] jtarchie commented on #27
Order doesn't matter to Concourse. Given a list it just iterates through them one at a time with `version: every`.

I don't quite understand `new PRs can never be iterated`. Can you give an example to help recreate the issue you are seeing?

[2016-08-09 01:28] jtarchie commented on #15
I'm closing this as the *beta* feature seems to be working for people.

Please feel free to open a new issue if you're having problems with it.

[2016-08-09 01:28] #15 closed

[2016-08-09 02:48] halimacc commented on #27
Sorry but it seems the mechanism of `version: every` for `get` is not just iterating every version through, it is as described in [this issue](https://github.com/concourse/concourse/issues/358). And you can see a list of versions when clicking into a resource, and `get` will take the top one as the latest.

My problem here is while testing example pipeline of this repo with `version: every` and `e

[2016-08-10 01:58] jtarchie commented on #27
I see. Alright, I'll get a fix out for this soon.

[2016-08-16 22:51] ckaznocha opened #28 "Option to fetch merged result from origin to base branch of an open PR"
It would be helpful to have an optional configuration to specify that the resource should fetch what the result of the merge would be rather than the origin branch. This would add some feature parity with Travis-CI. [Travis-CI: How-Pull-Requests-are-Tested](https://docs.travis-ci.com/user/pull-requests#How-Pull-Requests-are-Tested)

The option could be something like `fetch_merge: bool`. It should

[2016-08-31 12:55] Gl4di4torRr opened #32 "Override github url with enterprise url"
Does the uri allow you to override the github url with an enterprise url?

For instance, I have the following config:

[code]
However, when I do this I get this error message:

https://api.github.com/repos/org/repo/pulls?direction=desc&per_page=100&sort=updated&state=open: 401 - Bad credentials

So you can see it is not using my github enterprise url...

[2016-08-31 14:04] jtarchie commented on #32
@Gl4di4torRr with that config, to work with an Enterprise Github, you have to define `api_endpoint`. I don't try to infer anything based on the `uri`. It is in the documentation under source configuration.

[2016-08-31 14:07] #32 closed

[2016-09-01 12:54] Gl4di4torRr commented on #32
That fixed the issue! Sorry I was just a little confused because I have been using `uri` with other resources to point to our enterprise github instance.

[2016-09-04 10:43] nathgs commented on #28
+1

[2016-09-05 09:56] nathgs opened #33 "Fails to fetch changes when pull request is made from a 'master' branch"
The pullrequest-resource `in` outputs the following error, but doesn't fail completely:
[code]
This results in strange behaviour where the pullrequest-resource has cloned the git repository, but not fetched the changes from the pull request. The subsequent steps in the build plan continue to execute without including the pull request changes.

Steps to reproduce:
1) Create a pipeline with using pu

[2016-09-05 15:34] jtarchie commented on #33
Let me dive into this a little more.

It was requested a while back that `git fetch -q origin pull/#{id}/head:#{branch_ref} 1>&2` exist so the branch is checked out at the correct name. If it is on `master` then it should checkout `master`. I wonder if there is a way to force it.

It's interesting this is the first time that this is come up.

[2016-09-09 01:12] #28 closed

[2016-09-09 01:46] jtarchie commented on #27
I don't think just putting them in reverse order will solve this problem. The github api is returning the [PRs in descending updated order](https://github.com/jtarchie/pullrequest-resource/blob/master/assets/lib/common.rb#L113), so it should already be doing the proposed newest to oldest.

I think we are experiencing a different issue.

[2016-09-09 03:17] jtarchie commented on #33
I see the PR that originally caused this. I've reached out to the original author for some clarification in their workflow. I don't want to break anything or make it backwards incompatible.

Please expect this to be resolved shortly.

[2016-09-09 17:28] vito commented on #27
Concourse expects chronological order, so the most-recently-updated version should be *last*. Not sure if that's what GitHub's API does - I'd think it'd be the opposite.

[2016-09-11 23:38] jtarchie commented on #27
Alright, let's see if aa6b97c resolves this.

[2016-09-11 23:52] jtarchie commented on #33
This should have been resolved in f6210c9. The checkout branch name is being prefixed with `pr-`.

[2016-09-11 23:52] jtarchie commented on #33
Please reopen this issue if you have problems with it passed v15 release.

[2016-09-11 23:52] jtarchie commented on #27
Please reopen this issue if you have problems with it passed v15.

[2016-09-11 23:52] #27 closed

[2016-09-12 03:06] nathgs commented on #33
Tested with the v15 release, but got an error:
[code]

[2016-09-12 04:41] jtarchie commented on #33
Gah!

[2016-09-12 05:11] jtarchie commented on #33
I don't understand. I've tested this with the reproducing instructions you provided. This is the [PR](https://github.com/jtarchie/pullrequest-resource/pull/34) I am testing with.

Do you see anything wrong with the PR?

[2016-09-12 05:19] jtarchie commented on #33
The reproducing steps from the `in` step for the previous step would be.

[code]

Any insight in the git repo you have would be great or minimal steps to reproduce.

Sorry the above is stream of thought.

[2016-09-12 10:26] nathgs commented on #33
I can't reproduce the error when following those commands on my repo. It seems something different is actually happening when running the v15 of the pullrequest-resource in my pipeline.

Sorry I don't have time to investigate right now, but when I next get a chance I'll try building it myself and see if I can isolate it better for you. Might be a couple of days before I can do this.

In the meanti

[2016-09-12 14:55] jtarchie commented on #33
(╯°□°)╯︵ ┻━┻

I've recreated the issue with a pipeline. When I hijack the container and run the exact set of commands, it works fine. 👎

This is going to take some more debugging.

Capturing the `.git/config` here for later reference:

[code]

[2016-09-12 15:01] vito commented on #33
@jtarchie What I've observed is that when there's a PR made to `master`, the PR resource instead checks out `master` of the origin repository, rather than the fork. This probably applies to all branches, not just `master`, if the names match on the origin and the fork.

[2016-09-12 17:55] jtarchie commented on #33
@vito I understand conceptually, but I don't know what to do. You think this problem would occur with people checking out PRs locally, but Google is pretty barren on this.

[2016-09-12 23:20] jtarchie commented on #33
@nathgs, it turns out I did solve it. It's just I forgot to rebuild the docker image and push that out. Woops. Please try again.

[2016-09-13 00:47] nathgs commented on #33
@jtarchie It's working now. Thanks for following up on this and getting it sorted so quickly!

Time to make a pipeline that automates the releasing of the pullrequest-resource docker image ;-)

[2016-09-13 00:47] #33 closed

[2016-09-29 16:47] evandbrown opened #36 "Feature request: identify resource by comment"
We have public repositories that we'd like to build _only after_ a repository contributor reviews the PR. We'd like to keep the approval workflow within GitHub, as opposed to using `trigger: false` in Concourse and forcing the reviewer to navigate to Concourse and start the build.

The requested feature would add a `comment_trigger` property to the source configuration. If a comment from a _reposi

[2016-09-29 18:47] jtarchie commented on #36
This has been a feature requested, but I've refrained from doing it.

1. For people that have many PRs, the API calls needed to get all the PRs is already slow. I've been asked if I can speed it up.

   Adding on top that you'd have to traverse all the comments for a PR would just cause more lag.

2. This also add an authentication level.

  * How do we determine someone is a *repository contribut

[2016-10-12 22:56] gregorskii opened #38 "Volume graph is disabled - using vagrant concourse/lite"
Hi there,

I am seeing this issue with the concourse/lite vagrant image:

<img width="956" alt="screenshot 2016-10-12 15 54 41" src="https://cloud.githubusercontent.com/assets/1130448/19330608/4d998e0a-9094-11e6-96b5-dfe47430374a.png">

Job Config:

[code]

What do you think?

[2016-10-13 12:10] jtarchie commented on #38
This is a message directly from concourse, not from the resource.

Ask in the concourse slack for more help.

[2016-10-13 12:10] #38 closed

[2016-10-13 14:32] gregorskii commented on #38
I got it working with a simple message in a container from the hello world example. That was enough to test it out. It is likely something with the git-resource image or concourse like you said.

Thanks!

[2016-10-14 01:26] novas0x2a opened #39 "Feature Request: report commits instead of prs"
Okay, this is tricky, and I'm not quite sure how to do in concourse. When a pull request is opened, I'd actually like to do a separate build for each individual commit in the pr, with the "put" going back to the commit. I suspect the only way to handle this is to do it manually inside a task, since concourse doesn't really seem to have the concept of resources-of-resources, but I was hoping you'd

[2016-10-18 19:01] celder0 opened #40 "Putting to a fetch_merged pull request outputs a new version"
Currently if you get a fetch merged pull request and do a put back to the pull request it has the new commit sha of the merge as the new version. This is causing the build to trigger twice when you have `version: every` on the get.

[code]

See build 81 with the original commit sha and putting to the commit sha of the merge. Which caused build 82 to start with the commit sha of the merge.

<img wi

[2016-10-18 19:02] celder0 commented on #40
Looking into the code to see how this can be solved but would love some input.

[2016-10-21 15:31] jtarchie commented on #40
@celder0, the resource is doing what it is meant to do, right? That SHA would be the merge commit.

I'd like to provide the capability to support everyone, but there are too many PR workflows. My intention with the resource is to provide the hooks that people can do their own workflow without having too many switches, options, and guessing what people want.

If you want to be on the original PR SH

[2016-10-21 15:32] jtarchie commented on #39
@novas0x2a, this seems like a pretty unique workflow. Do you currently iterate through each commit in PRs with CI system?

[2016-10-21 15:32] jtarchie commented on #36
I'm closing this do to inactivity. Please feel free to reopen for more discussion.

[2016-10-21 15:32] #36 closed

[2016-10-21 16:08] novas0x2a commented on #39
Yep, though inside a task and in series, instead of visible to the CI system and parallel. The magic is http://dustin.sallings.org/2010/03/28/git-test-sequence.html

Having every commit pass CI, not just pull request HEADs, makes for great peace of mind :)

[2016-10-30 17:33] jtarchie commented on #40
Closing this do to inactivity. Please reopen if more help is needed.

[2016-10-30 17:33] #40 closed

[2016-10-30 17:34] jtarchie commented on #39
I don't know if there is a clean way to determine what are just the PR commits. As it would be different for a `fetch_merge`.

[2016-11-02 23:13] ggeorgiev opened #41 "Option to merge the pr automatically"
It will be nice if the resource has an option to automatically merge the PR.

Note it will be nice to have a way to specify the merge_method. It should also make sure that the review process is completed as well.

The way I am picturing using this feature is with creating an additional job that depends on the other(s) that does `put` with merge - in a case of merge operation failing - the validati

[2016-11-03 14:13] ls-avanier commented on #41
Just extracting some mentions from the Slack channel discussions.

Link to relevant [GH docs](https://developer.github.com/v3/pulls/#merge-a-pull-request-merge-button).

[2016-11-09 22:42] msarahan commented on #19
What was the fix here?  I'm seeing the same thing.  Probably something dumb that I'm missing.

[2016-11-09 22:47] msarahan commented on #19
Seems like you must quote the repo if you are using interpolation to insert the value into some other plan file.

[2016-11-17 07:52] ahume opened #42 "Support `paths` configuration parameter"
`git-resource` has `paths` and `ignore-paths` parameters which we heavily rely on in our monorepo style projects to test/build/publish only the apps that have had src code changes. Is this something that could also be supported by `pullrequest-resource`?

[2016-11-18 03:49] jtarchie commented on #42
The resource relies heavily on the Github API for getting new PRs. It does not provide, to my knowledge, a way to specify paths.

Otherwise, the resource would have to check out each PR, then run the `git logs`, etc. It is just a lot of work for the `check` step to do.

I don't think I could support this efficiently.

[2016-11-18 03:56] jtarchie commented on #42
It looks like there is an [API endpoint](https://developer.github.com/v3/pulls/#list-pull-requests-files) to get a list of files.

[2016-11-18 07:24] ahume commented on #42
Thanks @jtarchie

Meaning it could be supported efficiently? Or that we should implement the check as a task in the pipeline?

[2016-11-18 18:25] jtarchie commented on #42
`implement the check as a task in the pipeline` sounds like the most efficient way, right now. This is going to be hard. :-/

[2016-11-19 08:27] Seraf commented on #42
Hello, have you an example how can the check be handled in the pipeline ?

We have the same case : multiple subdirectories on the same repository, and wanted to have a pipeline per subdirectories.

Thanks !

[2016-11-19 17:35] jtarchie commented on #42
Have a task or a job that does the equivalent git log -- paths.

[2016-11-19 17:45] jtarchie commented on #42
The pull request resource is meant to be the pr resource. It provides enough meta data for the user to implement their own workflow.

I've had many requests to supports different workflows. They are never consistent.  I'd like to keep the resource minimal, while only supporting options of the GitHub API.

Supporting all the options of the git resource is difficult as it only pertains to a single g

[2016-11-19 18:38] Seraf commented on #42
I think there's a real need on this feature request, and as it has been implemented on the official git resource, it seems legit to figure into this resource as well. I don't get the added value to complexify pipelines to handle something that's really tied to the pr-resources : use the PR api of github to know which files has been modified and know if the resource need to be triggered or not.

I

[2016-11-19 19:16] jtarchie commented on #42
Please see my earlier posts.

You have a real need because this is your workflow. I've not actually encountered a consistent workflow for PRs.

Users have reported the PR resource can be slow because of the number of API calls. Hitting that endpoint could be troublesome. The alternative of doing s git checkout and performing the operation could be heavy as PRs can be expensive to checkout.

Im sti

[2016-11-20 08:52] Seraf commented on #42
@jtarchie I've seen your earlier posts, but I'm still not convinced. Here, we will need to do an api call to github to know the list of changed files. This is the goal of this resource to interact with github, I don't get why it should live in another resource / another task.

About performance, if there's no `ignore_paths` or `path` there won't be any api request. A warning in the readme that it

[2016-11-20 16:08] ahume commented on #42
I can see both points of view. A single extra API call seems negligible, but if it's not supporting the core use-case - it's somebody's judgement call. :)

My next problem is figuring out how to implement this in the pipeline. There's so much flexibility with resources/tasks and how they interact that it's not at all clear how to create implementations for very common CI/CD scenarios. My organisat

[2016-11-20 17:54] ahume commented on #42
For example, I've been pointed to the `concourse-pipeline-resource` twice now. So the suggestion is to read the name of the branch from the PR, and then dynamically create a new pipeline file that uses `git-resource` to sync the right branch, run the build (including updating the PR metadata in github (assuming `pullrequest-resource` wouldn't be able to do this any more) and clean-up after itself.

[2016-11-20 22:16] jtarchie commented on #42
It is hard to support all the different use cases. They are just not consistent.

These are just some of the  requests that I've had:

* people that use specially named branches
* be able to trigger a PR based on comment
* return all the tags specific to the PR
* provide all the comment meta-data

Each one for a unique use case.

I _cannot_ support each individual case in which someone uses pull r

[2016-11-20 22:23] jtarchie commented on #41
Why wouldn't you want the merge operation to fail with a red build?

[2016-11-20 22:26] jtarchie commented on #41
This would also cause pollution of of the PR versions, as after every `put` a explicit `get` is done, so concourse ensures it has the latest version of the PR.

My recommendation would be to have a resource that would just do the `put`. A similar pattern that is taken with git resources to ensure the latest `put` doesn't cause a trigger at the beginning of a pipeline.

[2016-11-20 22:49] jtarchie commented on #39
You'd be able to iterate over your commits with something like `git log origin/master..HEAD` on the checked out PR branch?

[2016-11-20 22:57] Seraf commented on #42
I'm still a beginner with concourse but the pipelines already looks complex to do basic things for me. I understand your point of view, but that's also what parameters are for in my point of view.
Then, if you're not going to implement this, I think we can close this issue.

Can you please give an example about how to do extra stuff like a path filter using your resource ? I think it will stop the

[2016-11-20 23:31] Seraf commented on #42
Also I've a question on this workflow : if I have two pipelines running both the PR resource on the same repository, what will be the behavior if the path check isn't part of the PR resource ? Does that means one will trigger but not the other pipeline ? Even if the pipeline should be namespaced last time I had the feeling that there was kind of sharing version between both pipelines. That one che

[2016-11-21 01:26] ggeorgiev commented on #41
That's not what I want. I do not want a test or job with any other main purpose to fail because the merge is not possible. This why I am suggesting that I will probably have such put in a separate job.

The merge can fail for a number of reasons. For example, someone committed code that cannot be auto-merged with mine. Or the PR still have discussions open - I would like to see this as red for the

[2016-11-21 01:55] jtarchie commented on #41
Thanks for clarifying. We are on the same page. I'll take a look soon.

[2016-11-21 02:38] ggeorgiev commented on #41
On second thought if the mergeability of the PR is tracked as a separate resource. This may allow for not code related changes (like open discussions) to be tracked as well and changes to trigger only the merge job to be retried.

Since we are on the topic to complete the feature having auto merge from master (the base branch) to the PR branch might be useful as well. Optional as well of course.

[2016-11-21 03:31] jtarchie commented on #41
I you referring to `fetch_merge` on the `in` step?

[2016-11-21 04:01] ggeorgiev commented on #41
`Fetch_merge`, but not on the `in`, the put to do `fetch_merge` in case the base is in front of the PR branch.

In general git merge is a very simple non-semantical check for conflicts in the changed text of the code. But there are thousand of situations where changing one place of the code might impact other - for example if rename a function that someone else added a new code to use it (the old

[2016-11-21 15:56] henrytk opened #43 "Limiting whose pull requests generate new versions"
### The problem

We are using this pull request resource to [create Bosh releases](https://bosh.io/docs/create-release.html) in our Concourse pipeline, for a deployment of Cloud Foundry. Bosh releases (and potentially other repositories) can contain scripts which are executed when the release is compiled in the pipeline. Executing scripts from a pull request combined with use of an AWS instance pr

[2016-11-23 13:42] ahume commented on #42
@Seraf If you want to collaborate on a fork of this, I've done a small bit of work to support `paths` as a source config.

https://github.com/ahume/pullrequest-resource/pull/1

It only supports `check`, and I need some input on what else needs to be done, as I'm not that familiar with the concourse architecture and how resources map to get/puts of jobs, etc... I'm also not a Rubyist, so code style

[2016-11-23 13:44] ahume commented on #42
@jtarchie In reference to the above, would be great to get your input as well. I have a suspicion I may be under thinking this.

[2016-11-23 14:39] Seraf commented on #42
Awesome @ahume ! I don't think in and out would benefit from having a path parameter. The responsible to check for new version is the check executable.

As you did, if there's a path parameter, then it check if the pr is a matching candidate or not. About ruby I don't think I will be very helpfull as I'm not really skilled with this one.

[2016-11-25 23:45] jtarchie commented on #43
Limiting the users as a config on the PR resource adds a level of authorization. The resource shouldn't be concerned with this. Github already has a mechanism for limiting access to repos and who can make PRs -- make the repo private.

This would duplicate work that Github has already done of good job of. :-/

[2016-11-25 23:54] jtarchie commented on #41
I don't think I can do *1*. The endpoint for merging a PR, does not create another PR, so the resource can iterate over it. You'd have to the `get` with a `fetch_merge` to perform the operation in the pipeline manually.

The only thing the `put` can provide is a `merge`, which would automatically merge the PR based on one of the merging strategies that Github provides in the API. If any of them fa

[2016-11-26 17:39] ggeorgiev commented on #41
oops, sorry I closed it by mistake. I am not sure what is the concern, since merging from master will create different sha for the same PR which is enough for a new version. Anyways having auto merge is good too.

[2016-11-26 18:11] jtarchie commented on #41
Auto merge with master creates a new SHA on the `master` branch, not on the PR. Therefore the the resource `check` step wouldn't pick up the SHA.

[2016-11-27 02:15] ggeorgiev commented on #41
This is why I said from master, not to master. If this is the effect that you expect from step 1 - what do you think the effect from step 2 is?

[2016-11-28 10:39] henrytk commented on #43
@jtarchie

The pull request resource is concerned with detecting valid versions of a resource. For instance, a closed pull request is not valid. Whether the pull request is from a fork, and therefore less trusted, is just another piece of criteria you can use to determine what generates a resource version. An example of this is the Git resource itself, which has [code to assert the commit has been

[2016-11-30 04:07] jtarchie commented on #43
Spent some time refactoring the filtering of pull requests. Please look at the [filters](https://github.com/jtarchie/pullrequest-resource/tree/master/assets/lib/filters). This is the direction I am going in supporting new filters.

[2016-11-30 15:09] henrytk commented on #43
Thanks @jtarchie. Does that mean if we refactor our work on https://github.com/alphagov/paas-pullrequest-resource/pull/1 to fit this pattern of filters you will accept the pull request?

[2016-12-01 00:10] jtarchie commented on #43
Yes.

Happy to help. This was a massive refactoring.

[2016-12-01 08:28] henrytk commented on #43
Awesome, thanks. It may be a while as we will have to schedule the work.

[2016-12-01 22:56] tredfield opened #45 "could not read Username for 'https://github.com': No such device or address"
I have a private repo configured below with an access token that has "repo" permissions. **Check** succeeds but an **in** fails with below error.

`- name: pr-simple-service
  type: pull-request
  source:
    access_token: {{github-access-token}}
    private_key: {{github-private-key}}
    repo: scpprd/simple-service`

Error

`
Identity added: /tmp/git-resource-private-key (/tmp/git-resource-priva

[2016-12-02 05:02] jtarchie commented on #45
Yes. The resource doesn't assume that `git@github.com`, it uses [`https`](https://github.com/jtarchie/pullrequest-resource/blob/v17/assets/lib/in.rb#L11). You can set the `uri` to override that default.

I wonder if I should assume SSH when a `private_key` is provided.

[2016-12-03 18:48] jtarchie opened #46 "be able to re-trigger PRs through the pipeline without an empty commit"
I've gotten this feature request a lot.

This is something the CI system should support, not the resource. It's job is only to return new versions, not frankenstein those version numbers.

Please comment on the [issue](https://github.com/concourse/concourse/issues/413) for concourse support.

Thanks

[2016-12-07 04:47] jtarchie commented on #39
I'm closing this do to inactivity. Please reopen if you wish to continue discussion.

[2016-12-07 04:47] #39 closed

[2016-12-07 05:49] jtarchie commented on #41
@ggeorgiev, please look at the README for `merge` and `merge_commit_msg` params. I think these are what you are looking for. This feature has not been officially release on the docker image this. Would you be willing to test it out before I do so, to make sure it meets your needs?

[2016-12-07 05:54] jtarchie commented on #43
Give me some time, I think I can pull in your changes. Assuming your test case pass, right? :-)

[2016-12-07 06:12] ggeorgiev commented on #41
will do - I will let you know in few days. Thanks

[2016-12-07 06:20] jtarchie commented on #41
It is on the docker tag `test`, so please try it there.

[2016-12-07 06:32] ggeorgiev commented on #41
I did:

    - put: cuneiform_{{branch_id}}_pr
      timeout: 2m
      params:
        path: cuneiform_{{branch_id}}_pr
        merge: squash

and I get:
Identity added: /tmp/git-resource-private-key (/tmp/git-resource-private-key)
/opt/resource/lib/commands/out.rb:73:in `check_defaults!': `status` "" is not supported -- only success, failure, error, or pending (RuntimeError)
	from /opt/resource/li

[2016-12-07 06:54] ggeorgiev commented on #41
when I added status and context - it did not seem to do anything different. Is this the resource type that I should use:

    resource_types:
      - name: pull-request
        type: docker-image
        source:
          repository: jtarchie/pr
          tag: test

[2016-12-07 08:30] henrytk commented on #43
Our tests were passing, it was reviewed on our team, and we've already started using our version to in our CI pipeline with no problems. I don't know how it would fit in with your refactoring yet though. Do you need us to raise a pull request, or would you just cherry pick our changes?

[2016-12-07 14:14] jtarchie commented on #41
Thanks for the feedback.

That it the docker image you should use. What is the `merge` value in your `put`?

I don't know if the `status` can be optional at the moment. That would require making `version: every` options permanent.

[2016-12-07 14:50] ggeorgiev commented on #41
I used `merge: squash`. By the way, my review is not finished - the merge might be failing, if so it does it silently which is also a problem.

[2016-12-07 18:02] ggeorgiev commented on #41
tried with a finished review - still nothing. I am not sure what is the complication of ignoring the context and status when the merge is set, but fills very odd having it - because there is no meaningful state that makes sense because it is not going to reflect the result of the merge operation anyway.

[2016-12-08 06:45] jtarchie commented on #41
@ggeorgiev, it is because of a `status` is required to iterate to the next PR. The merging may fail, but you still want concourse it iterate to the next one. For now, I'm leaving it till I require `version: every`, so soon.

As for `merge`, I've got an update, please test if you can. The new params are a hash, so they are contained.

For example:

[code]

[2016-12-08 15:14] jtarchie commented on #43
@henrytk, please see this [commit](https://github.com/jtarchie/pullrequest-resource/commit/0f06d793207b50bdd8902a4d396bbab890adad3c).

It should be on jtarchie/pr:test docker image for testing. If you works for you I'll release it!

*NOTE* I changed `disallow_forks` to `disable_forks`.

[2016-12-08 17:10] ggeorgiev commented on #41
@jtarchie, It is working now.

It will be nice if it has an option to delete the source branch after the merge - for task branch dev process.

Something else that I have no idea what will be the best way to resolve is how to trigger the pipe on pr status change. For example, if the review is not finished - the merge will be rejected - which is the right thing to do, but if the reviewers mark the p

[2016-12-08 18:50] jtarchie commented on #41
Thanks for validating @ggeorgiev. I'm going to consider this feature delivered.

1. I'm not going to delete the branch. That seems very specific to your workflow and beyond, what I think, is the scope of this resource.
2. As for removing the other `status` feature requirement. That is something that has to happen because of `every`. I cannot remove it yet.

[2016-12-08 18:50] #41 closed

[2016-12-08 19:46] ggeorgiev commented on #41
It is up to you to decide what is part of the scope of the resource or not, but removing the branch for me is - part of the handling of the PR. In fact in GitHub UI offers a single button [merge and delete] - it does not seem "my" workflow - task branching is extremely widely used development methodology. Making the deletion optional solves the differences with the rest of the world that does not

[2016-12-09 07:19] jtarchie commented on #42
@ahume and @Seraf, please see this [commit](https://github.com/jtarchie/pullrequest-resource/commit/1976b9520b8c0acd87a79ac2aba32ba473bc2679).

It should be on jtarchie/pr:test docker image for testing. If you works for you I'll release it!

[2016-12-09 20:30] tredfield opened #49 "posting status 404 - Not Found"
I am having an issue posting status on_success/on_failure. All my repos are setup the same, but only one of them succeeds and the other error with trace below. I suspect it is something with repo configuration but I am at a loss. Any ideas?

resources:

#succeeds
- name: pr-simple-service
  type: pull-request
  source:
    access_token: {{github-access-token}}
    private_key: {{github-private-key

[2016-12-09 22:01] jtarchie commented on #49
Are you using the `fetch_merge` option?

[2016-12-09 22:16] tredfield commented on #49
Sorry, my bad. This was an issue with access_token being used. token was associated with user that only had permissions on the successful repo.

[2016-12-09 22:16] #49 closed

[2016-12-12 19:09] Seraf commented on #42
Thanks @jtarchie, it's awesome :)

I will give a try this week to confirm it's working. Thanks !

[2016-12-16 01:36] jtarchie commented on #43
Merged. I will release officially tonight.

[2016-12-17 22:34] jtarchie commented on #43
Closing on release of v20. Please open up new issues if there are bugs or future feature requests.

[2016-12-17 22:34] #43 closed

[2016-12-17 22:34] jtarchie commented on #42
Closing on release of v20. Please open up new issues if there are bugs or future feature requests.

[2016-12-17 22:34] #42 closed

[2016-12-19 05:52] airtonix opened #52 "Non github repos?"
Will it work with for example:

- bitbucket
- gitlab
- something-else

[2016-12-19 14:56] jtarchie commented on #52
Nope. Only supports github. Sorry.

[2016-12-19 14:56] #52 closed

[2017-01-04 19:38] celder0 commented on #40
Hey sorry it has been so long. So the issue seems that it isn't pulling the merge sha version in the beginning. It is pulling the actual sha on the branch then outputting the status to the merge sha. If it was originally pulling the merge sha there wouldn't be a duplicate run.

[2017-01-05 02:54] jtarchie commented on #40
I cannot pull in the merge SHA. The Github API doesn't provide that. It is not until the `get` step that is known, which is causing your issue.

The easiest way around this, is similar to how the git-resource has to be setup for `[ci skip]` commits. Define a `resource` which is purely for `put`. That way when it records a new version it doesn't affect the resource used for `get`.

For example:

[c

[2017-01-11 21:47] celder0 commented on #40
The merge commit SHA is available in the github api. I will see if I can figure out how to update this resource and test it. I will hopefully be opening a pull soon :)

[2017-01-11 22:20] celder0 commented on #40
Well just made a realization that the check doesn't know if you are getting a fetch merge as it comes in on the get. Would take a little bit longer to get a POC of this working because of that.

[2017-02-02 16:07] thompsd3 opened #53 "Ability to Trigger open PR's related to a branch after the branch has been changed"
Here's the scenario; (Auto merge is disabled so PR merges are manual) There are 3 open PRs and all of them have successfully built and reported back to git successfully. Once we merge one of the PRs into the main branch, the main CI build is successfully triggered, which also triggers the tests. Also after the tests are done, the newest PR opened is also triggered. I'm assuming it is building the

[2017-02-05 17:56] jtarchie commented on #53
I've been looking into this.

The Github API doesn't provide a great way to correlate this information. I'm having a hard time knowing that the base branch has changed to *trigger*.

Maybe this something that can be done via workflow in a pipeline with a trigger.

A job has two inputs, one being the PR resource and the other the git-resource of the base branch, each with a trigger and `version: ev

[2017-02-06 15:12] thompsd3 commented on #53
Thanks for looking into this. I currently have `version: every` in the config but it doesn't perform the expected action. One thing I was looking into, was the `merge_commit_sha` found on open PRs https://developer.github.com/v3/pulls/#get-a-single-pull-request. I will do some more checking but I feel that this sha has to get updated after each change of either the base or source branches. If poss

[2017-02-10 18:58] Typositoire opened #54 "[Feature Request] Trigger on Label"
It'd be nice to be able to trigger when a given label is set on the PR.

[2017-02-11 06:42] shriramramesh89 opened #55 "Question: How is a merge that cannot be resolved automatically treated when `fetchmerge` is set to true"

[2017-02-14 19:13] jtarchie commented on #55
It should cause the build to go red because it doesn't have a compatible SHA to checkout.

Did something happen?

[2017-02-14 19:16] jtarchie commented on #54
@Typositoire, this is similar to the request #36. I kind of lean on the same decision. It just seems weird having labels and comments drive PR triggering.

That being said, the refactoring that introduced the filters should make it easy to add this feature. I would accept a PR on this feature.

[2017-02-14 19:21] jtarchie commented on #53
The issue with this is that it affects the meta information that would need to be reported to concourse.

The version tracked is the PR number and it's SHA. The new version would have to be the merge SHA.

The merge SHA is not always guaranteed to be there. If the PR is unmergable the API does not return the SHA. This makes consistent version difficult. :-/

[2017-02-14 19:22] shriramramesh89 commented on #55
The pull request is fetched even if it cannot be merged automatically. So i'm not sure what's being pulled down at that time since fetch:merge (set) is supposed to get the result of the PR into the target branch.

[2017-02-14 19:27] jtarchie commented on #55
Then I don't know, I've never tried. It must be a merge commit from Github where someone won. I'm looking for documentation.

[2017-02-14 19:32] shriramramesh89 commented on #55
Thanks. Ideally that PR should not be tracked, if such a behaviour can be added.

[2017-02-14 19:36] jtarchie commented on #55
I don't know. The documentation is pretty sparse on this.

It looks like they have [problems](https://developer.github.com/changes/2013-04-25-deprecating-merge-commit-sha/) with it.

I don't think there is a way to only track mergeable pull requests. Any leads?

[2017-02-14 21:14] shriramramesh89 commented on #55
From the API Doc,

The value of the mergeable attribute can be true, false, or null. If the value is null, this means that the mergeability hasn't been computed yet, and a background job was started to compute it. Give the job a few moments to complete, and then submit the request again. When the job is complete, the response will include a non-null value for the mergeable attribute.

[2017-02-14 21:16] shriramramesh89 commented on #55
I guess the `mergeable ` attribute would be false for a non-mergeable request.

[2017-02-14 22:46] jtarchie commented on #55
I don't have the bandwidth to support this right now.

I'd accept a PR.

On the `source` provide a value to filter out by mergeable value.

[code]

I'd like to refactor the `source` config at some point to be more meaningful. This should help start that.

[2017-02-25 17:43] jtarchie commented on #55
@shriramramesh89, are you interested in making a PR for this? Otherwise, I'm going to close this.

[2017-02-25 17:44] jtarchie commented on #54
@Typositoire, did you have an interest in making a PR for this? Otherwise I am going to close the issue this weekend.

[2017-02-25 17:45] jtarchie commented on #53
@thompsd3, was there any follow up to this? Otherwise I am going close the issue this weekend.

[2017-02-27 18:46] leeola opened #58 "Exposing PR URL as Concourse Metadata/Variables?"
Is it possible to expose the PR metadata to be used as env vars within other resources? Eg, Slack notifications which link to the github pull request after success/failure? Similar to how `$ATC_EXTERNAL_URL` is exposed.

[2017-02-27 19:33] jtarchie commented on #58
Nope. The resource does not have access to the runtime of other resources. The resource could expose more meta-data via `git config`, but it is for you to consume that somehow.

[2017-02-27 19:33] #58 closed

[2017-02-27 19:53] Typositoire commented on #54
Nop, I do not have a PR for this. But I mean, lost of bot/ci solutions triggers on Label. I guess it makes sense for open source stuff.. Lots of people can create PR without being aware that every one of them will trigger a CI run.

[2017-02-27 20:05] jtarchie commented on #54
Do you have an example for a ci solution? I'm not trying to recreate a bot. :-/

[2017-02-28 23:32] #55 closed

[2017-02-28 23:32] #53 closed

[2017-03-01 07:38] adam8157 opened #61 "Failed to pull submodules"
Latest(Mar 1, 2017) failed to pull submodules, 'v20' works well. repo is 'greenplum-db/gpdb', logs are attached below.

[code]

[2017-03-01 16:28] jtarchie commented on #61
Can you provide your config? Maybe to reproduce the steps use the docker container.

[2017-03-01 16:57] schubert commented on #61
https://github.com/greenplum-db/gpdb/blob/7bdf1b3508ba0c8197c71be96ec5fe5f9791f235/concourse/pipelines/pr_pipeline.yml

[2017-03-01 17:28] jtarchie commented on #61
Thanks for reporting. I will see what I can do after work hours today.

Please just lock the resource at v20 for now.

[2017-03-02 00:07] jtarchie commented on #61
I believe this is being caused by `depth` be a value set on submodules now, too. This was added because it reflects the same behaviour as the git resource.

If you set `git.depth` to a very large number it should resolve you issue. I will fix this tonight so depth is not required.

[2017-03-02 04:53] jtarchie commented on #61
This should be resolve in v21. Please let me know if you have any further issues, otherwise, I'll close this issue in a few days.

[2017-03-03 15:38] #61 closed

[2017-03-07 16:37] VanAxe commented on #54
I'll pick up the thread. I'm a colleague of @Typositoire 's. (He's out of town at a conference this week, so I doubt he'll be very active. I have it on good authority that he's going to have a full schedule. :trollface: )

I'm quite ambivalent about the feature myself (I'm more of a _run everything through CI_ kind of guy), but I can appreciate the value of controlling costs related to build time.

[2017-03-07 16:50] jtarchie commented on #54
I'm open to a PR. Would you be open little less configuration though?

1. drop `ignore_pr_labels`
2. no globbing, let's make labels explicit
3. do you think you'll ever use more than one label? so if that provide multiple labels on `pr_labels` is that an *OR* or *AND* operation

What do you think?

[2017-03-07 17:55] VanAxe commented on #54
1. Sounds good to me.
2. Sounds good to me.
3. I was thinking _OR_, but you do raise a good point. Perhaps allowing only a single string as an entry for now and letting the need surface by itself may be the wiser course of action.

Sounds like a deal?

[2017-03-07 18:17] jtarchie commented on #54
:+1:

[2017-03-09 14:51] jtarchie commented on #54
Take a look at this (e48e45f1d6fa54d143f78d67d284fb1aebed7fe5). Does this look like what you want

[2017-03-09 15:12] fkoclas commented on #54
I have just tested it on our of our pipelines with `label: ci-ready`, and it never triggered until I added the label `ci-ready` to the PR, so it seems to work as intended. :grinning:

[2017-03-09 15:31] jtarchie commented on #54
I want to emphasize that this has no *retriggering* capability.

[2017-03-10 00:12] jtarchie commented on #54
If it works, I'll deliver it later tonight. Thanks!

[2017-03-10 16:04] VanAxe commented on #54
We ran a few tests, and the covers exactly the functionality we discussed, with the behaviour we expect. Thanks!

Close away! :smiley:

[2017-03-12 01:09] jtarchie commented on #54
Released! You should be able to use the public image.

[2017-03-12 01:09] #54 closed

[2017-03-12 19:02] ggeorgiev opened #64 "fetch the base branch"
I would like to be able to do something like this:

BASE=`git config pullrequest.basebranch`
CHANGED_FILES=`git --no-pager diff --name-only $(git merge-base HEAD $BASE)`

This will give me a list of all files changed with this PR. Unfortunately in order this to works it needs the base branch to be fetched too. Instead, the second fetched branch is always the master. I am not sure is fetching it is

[2017-03-12 20:06] jtarchie commented on #64
@ggeorgiev you should be able to do a `git fetch` of the branch you want.

The PR resource makes no assumptions on the base branch initially checked out. It just does a `git clone` of the URI provided and then does some `git`+Github trick to checkout the PR. This is because I cannot do a `git clone` of the PR directly.

[2017-03-12 20:27] ggeorgiev commented on #64
@jtarchie At the time the task on the PR is running it has no rights to interact with the remote repo. Changing this is a big deal.

please check the git clone --single-branch option. It can help you to checkout directly the branch you need. Of course you can use it to checkout directly the pr branch, but I really will appreciate if you use it for the base branch.

[2017-03-12 20:32] ggeorgiev commented on #64
Of course, this is hard to notice if your repo is anyway public, but private repos are a pain. Unfortunately, there are a lot of project in private repos based on the company policy.

[2017-03-12 20:46] jtarchie commented on #64
@ggeorgiev, you can do it, add your ssh key to the task you are running. `ssh-add {{private-key}}` and you can do all the things you'd want to do.

[2017-03-12 20:48] ggeorgiev commented on #64
@jtarchie:  yes, but I am adding the private-key, Thats allow for anyone having access to this task to know it - not good

[2017-03-12 20:52] jtarchie commented on #64
if someone has access to your pipeline that has used the private key for the PR, they'll have access to the task that runs the PR, and therefor the private-key already.

I'm sorry. This is not a change I am willing to make right now. I've provided an alternative for you to try and be successful. Please try the workflow before making demands that something needs to be added to the resource.

[2017-03-12 21:17] ggeorgiev commented on #64
In the security aspect, an open hole in one area should never be an excuse to open another - this makes when need to close it way harder. Not to mention that add-ssh with the private key will require several other places and transports to have the key.

I think my request was as polite and as friendly it can be - no demands - not to mention that the requested change will not add anything, but impr

[2017-03-12 21:17] #64 closed

[2017-03-12 21:55] jtarchie commented on #64
I'm sorry, it was friendly and polite. Demand was a strong word.

It is hard to keep adding functionality to the resource. Having to support so many different PR workflows for people is making it difficult to maintain. The PR resource already have too many knobs and dials, which can affect each other.

The `--single-branch` does not work with the PR branch of a forked repo. The repo has to be `git

[2017-03-15 07:14] brightoneqq opened #65 "git-pull-requests failed"
we are using docker compose to startup  concourse build with pullrequest-resource .

but it always failed on git-pull-requests for checking .
[code]

[2017-03-15 22:51] jtarchie commented on #65
@brightoneqq, it looks like you have a network issue. Are you behind a firewall?

[2017-03-17 02:15] brightoneqq commented on #65
@jtarchie , thx for your reply . Yes, it was blocked by firewall . After I reconfig in the system . The issue is gone . Thanks again

[2017-03-17 02:15] #65 closed

[2017-03-20 21:38] ggeorgiev opened #66 "batch out contexts"
Concourse `out` is always followed from `in`, that makes having several contexts updated expensive. If the resource allows for status update this price can be reduced at least to pending status updates that could be combined.

[2017-03-20 21:40] ggeorgiev opened #67 "Do not clone after status update put command"
Is it possible to add an option to skip the clone after the status update? This operation contributes nothing and depending on the setup could be expensive.

[2017-03-21 01:39] jtarchie commented on #66
You can already do [this](https://github.com/jtarchie/pullrequest-resource/blob/d6422b9f5e31ee88b18535458654540ce4b389f6/assets/lib/commands/out.rb#L48). Provide the `context` with an array of strings.

It hasn't been documented yet because I wanted people to try it out before I made *public*.

[2017-03-21 01:39] #66 closed

[2017-03-21 01:39] jtarchie commented on #67
I don't know if I am able to disable this step. Concourse explicitly does the `get`.

[2017-03-21 01:57] jtarchie commented on #67
I see that `get_params` can be passed to `put`. Any proposal what the param should be?

[2017-03-21 02:31] ggeorgiev commented on #67
Sorry, I should have elaborated. This is what I meant to use.

Frankly, I do not care, but if you would like to suggest that this is the right thing to do it could be `after_put` and if you prefer to imply that it is the user responsibility it could be `skip` or `ignore`.

[2017-03-21 04:23] ggeorgiev commented on #66
just to mention - it is working for me, thanks

[2017-03-21 16:46] ggeorgiev opened #68 "status update from previous version is not rejected"
Hi,

I believe I noticed a bug in the resource, but it might be me misinterpreting something.

Let's say that a developer creates PR and almost instantaneously adds a new change to the branch ... and the pipeline is set to run more than one pr validations at a time. I did not investigate so thoroughly but it feels that now the two executions compete which one to update the status leaving the resul

[2017-03-21 21:52] jtarchie commented on #68
The status is associated with the SHA it executed on not the PR. On github, it just happens to show it on the PR.

If the PR changes is an additional SHA, then the two SHAs will show the associated status update.
If the PR changes to a brand new SHA, the old SHA will be marked, according to the API, but will never be visible on the PR page.
etc...

[2017-03-21 22:00] ggeorgiev commented on #68
This might be an issue with reviewable.io (a tool we suing for code review) then. Thanks a lot for the info.

[2017-03-21 22:00] #68 closed

[2017-03-29 00:51] emcniece opened #70 "Speed up checking?"
I have a working configuration - thank you so much for this project. Is there a way to reduce the delay between PR submission and detection?

Also, how is PR status checked? Does it poll the Github API, or does it subscribe to a webhook?

[2017-03-29 06:28] tao-du opened #71 "closed PRs still exists in the merge-pull-requests, status not synced"
for some PRs which have conflict with base branch, the merge-pull-requests will fail, which is correct.
However, after manually closed the conflicted PRs, the merge-pull-requests still uses local PR, and seems not sync the status of PRs from server again.
So the merge-pull-requests stays "RED" while the PR is closed in fact, which doesn't need a merge any more.

[2017-03-29 12:46] jtarchie commented on #70
It just hits the Github API. Whatever that returns. There is no webhook functionality built into concourse at the moment.

There is no way for me to make this faster.

You can try changing the [check every](http://concourse.ci/configuring-resources.html#check_every).

[2017-03-29 12:46] #70 closed

[2017-03-29 12:54] jtarchie commented on #71
@tao-du, I'm not quite sure what you are asking for.

Have you rerun your PR through concourse again so that status does get updated?

[2017-03-29 16:56] emcniece opened #72 "Status Update to Job workflow"
I want to update the status of a PR right away when detected, but my job takes a long time to run. As a result, I am stacking a "detection" job in front of my long-running job so that I can see on the PR that Concourse is about to run the job:

[code]

This looks like:

![status update and job](http://i.imgur.com/nhHoXAE.png)

So the first job sets a "pending" status on the PR, then after the `doc

[2017-03-29 17:45] jtarchie commented on #72
That is the pattern I would follow. You could just make it a step in your docker job, so it is all one job.

[code]

[2017-03-29 17:46] jtarchie commented on #72
I really don't understand what the issue is, though? Do you not like this pattern, is something slow, etc?

[2017-03-29 17:47] emcniece commented on #72
I was just curious as to whether this was the best way to proceed. Your recommendation for adding a task step is the kind of adjustment I was looking for ;)

Thank you!

[2017-03-29 17:47] #72 closed

[2017-03-29 17:54] jtarchie commented on #67
I'll see if I can tackle this tonight.

[2017-03-30 04:53] emcniece opened #73 "How can we use `pullrequest.branch` in the pipeline?"
I'm having trouble understanding how to access the metadata associated with the detected PR. As per the README:

I would like to get the branch of the detected PR and use this as an environment variable in another task. For example:

[code]

This results in the `test` task echoing `git-pr.branch`, which is me misunderstanding how this works. Ideally, the `echo $GIT_BRANCH` line would actually be s

[2017-03-30 12:09] jtarchie commented on #73
@emcniece, I highly recommend that you drop into the [concourse slack](http://slack.concourse.ci/) for questions like these. This is a concourse specific question, not really a resource specific issue.

The values you are looking for are stored as config value in the checked out git resource. They can only be directly accessed via `git` CLI using the command `git config --get`. It is `git`'s built

[2017-03-30 19:46] emcniece commented on #73
Thanks for the tip! I received some clarification in the Slack channel - while the metadata is only available via Git CLI (as you describe) the pullrequest-resource actually brings the PR down to the filesystem and can be added to subsequent tasks via the `inputs` parameter.

Revised config is as follows:

[code]

[2017-03-30 19:46] #73 closed

[2017-03-30 20:35] jtarchie commented on #73
@emcniece, is there documentation that I should add to make it clearer that this is what the resource does?

[2017-03-30 22:25] emcniece commented on #73
Perhaps. I'm quite new to Concourse, and I didn't understand that resources often create files in a filesystem that can be passed between tasks - this was an essential piece in using this in my pipeline. It is not productive to assume that every person using this resource is as new as I am, and there are many tutorials and walkthroughs elsewhere.

If anything, a very simple example with comments w

[2017-04-04 07:43] kei-yamazaki opened #74 "pull-request status does not set pending when fetch_merge is enabled"
If fetch_merge is false, the status of the pull request is set correctly to pending, but if fetch_merge is true it will not be set correctly.

Below is an example of a pipeline.

[code]

[2017-04-04 07:52] kei-yamazaki commented on #74
I added get_params to the put setting as below, but the result did not change.

[code]

[2017-04-04 18:36] jtarchie commented on #74
@kei-yamazaki, I am unable to support that feature with the fetch-merge. This is because the fetch-merge has the SHA of the merge commit, not the SHA of your PR.

You'll need to `get` your fetch_merge and regular PR, then do the statu son the pR.

For example:

[code]

[2017-04-04 18:42] jtarchie commented on #71
@tao-du, have you been able to resolve your issue? Otherwise I am going to close this issue.

[2017-04-05 08:17] kei-yamazaki commented on #74
Thank you for your reply.

I tried the pipeline sample you suggested but unfortunately it got an error.

[code]

SHA is set when updating status of pull request with the following code.
https://github.com/jtarchie/pullrequest-resource/blob/e48e45f1d6fa54d143f78d67d284fb1aebed7fe5/assets/lib/commands/out.rb#L55

If fetch_merge is set to true, I think that setting the SHA of PR solves the problem (t

[2017-04-05 12:20] jtarchie commented on #74
@kei-yamazaki the only way I can access the SHA at this point is from the git repo, not the API. This feature was requested specifically to handle putting statuses on specific SHAs, like the merge commit. It is not a bug, but intentional.

As for the error, change the put to regular price to pull request and it should work. Keep the path to the original regular orpath .

[2017-04-06 01:02] emcniece opened #75 "Docker image for resource type is pulled each time"
I see that the Docker image for this resource type is pulled each time it is used. This is great, I do want the resource-type to be latest version, but is it necessary to re-pull the image even when it is present in the system and the checksums match?

I suspect that this is a Concourse issue, not a resource-type issue...

[2017-04-06 11:27] kei-yamazaki commented on #74
Thank you for the explanation.

However, I believe that this problem can be dealt with by the pullrequest-resource side.
I'm trying to fix it now, so I will issue a pull request if I can fix it.

[2017-04-06 16:17] jtarchie commented on #75
This is a concourse specific issue. It is most likely your setup. I'd ask in the slack channel -- sounds like it is related to baggage claim caching.

Closing as this is not resource related.

[2017-04-06 16:17] #75 closed

[2017-04-06 16:19] jtarchie commented on #74
@kei-yamazaki, I need to clarify more. This isn't a problem with the resource. It is expected behaviour. There is nothing to fix.

This can be resolved via the pipeline YAML:

[code]

Sorry the solution before was incorrect. The above YAML should show you the resolution.

[2017-04-07 02:16] tao-du commented on #71
@jtarchie, here is my case:
1. i have a pr which has conflict with the master branch
2. the merge-pull-request will rurn RED for this pr, which is correct.
3. i close this pr from github
4. the merge-pull-request job still runs this pr and stays RED, my expectation is this closed pr doesn't show up here again, since it's been closed.

So my questions here is,
how to make sure the closed pr doesn't

[2017-04-07 02:58] tao-du opened #76 "[help]How can I get those approved pull request?"
a pull request could have the following status on github side,
1. open
2. closed
3. approved

How can I get those approved pull request?
I think these should be in the implementation, but I just fail to find an example. Please kindly help me out, thanks ~

[2017-04-07 12:00] jtarchie commented on #76
This resource should only with on open pull requests. Those are filtered out. https://github.com/jtarchie/pullrequest-resource/blob/master/assets/lib/filters/all.rb#L21

[2017-04-07 12:08] jtarchie commented on #71
1. What do you mean still runs? Did it retrigger the job again? If so do you see a difference in the SHAs?
2. What does 'merge-pull-request doesn't get the latest status of the pr from github again.'? GitHub is not seeing the status, the pipeline is.

[2017-04-08 01:32] jtarchie commented on #76
Also, I am not sure what an approved pull request is.

[2017-04-10 02:32] tao-du commented on #76
Thanks for your reply, @jtarchie
If a pull request is reviewed, you could see the pull request was approved on the github webpage, i thought there was a "approved" state for this, but i was wrong. The "approved" pull request still stays at state open.
Do you know how to determine whether review process of a pull request is done?

[2017-04-10 04:03] jtarchie commented on #76
@tao-du, I do not know how to determine this. It looks like it isn't fully supported by the github API.

[2017-04-12 00:27] ggeorgiev commented on #67
Is this more work than expected - or you just did not get to it?

[2017-04-15 18:30] ggeorgiev commented on #67
Hi, I saw you already made the changes for the skip. Could you please deploy a test image - I would like to give it a spin?

[2017-04-15 22:53] jtarchie commented on #67
@ggeorgiev it has been pushed to the test docker image.

[2017-04-15 23:27] ggeorgiev commented on #67
@jtarchie

Unfortunately, the skip feature is not going to be usable as is in case someone has more than one check. Sorry I did not realize this before.

It seems as soon as the new `get` finishes, the resource is replaced - with nothing and every operation after that fails.

One way to overcome this could be if the put operation that has skip represents the result as a different version.

[2017-04-16 16:44] jtarchie commented on #67
I hadn't thought of that. I assumed that if I returned the same SHA everything would be "fine".

[2017-04-16 16:52] jtarchie commented on #76
@tao-du, I am going to close this issue. There is no way to determine that a PR has been approved at this time. Please monitor that Github API docs till it does. Thanks.

[2017-04-16 16:52] #76 closed

[2017-04-16 16:52] jtarchie commented on #74
@kei-yamazaki, did the above help you?

[2017-04-16 16:53] jtarchie commented on #71
@tao-du, please clarify the above questions. Otherwise I am going to close this issue due to inactivity.

[2017-04-16 17:42] ggeorgiev commented on #67
all this could have been so much easier if `concourse` had the option feature and `get` step was not called at all. Frankly, I do not get why they refusing to add such. The argumentation they offer simply makes no sense.

[2017-04-16 20:45] jtarchie commented on #67
I disagree, I think it makes perfect sense. A `put` is an update to a resource. Concourse cannot make an assumption that didn't change the *version* of that resource. It maps better to a REST-ful type resource concept. Just because it doesn't work for resources does not mean that it is incorrect. In fact, it probably means that some resources are doing things incorrectly with respect to versioning

[2017-04-16 20:45] #67 closed

[2017-04-16 21:27] ggeorgiev commented on #67
Yes, you are right - `put` should be assumed that it produces new resource version, and all resources using `put` to create side effects are doing it `wrong`.  I wonder why though, maybe it is because there isn't any other way to do such.

[2017-04-17 00:15] ggeorgiev commented on #67
Actually, I am taking this back. Even there is a better way to create a side effect than `put` the assumption that `put` is solely for the purpose the next steps in the pipeline is off. I can output resources from consumption from other systems, which makes the `get` after `put` clearly optional.

[2017-04-17 08:14] kei-yamazaki commented on #74
It helped. Thank you.

I can not get the working time,
I believe that the following two problems are related to this issue.

1) Even if it is set to `fetch_merge: true`, the data of `fetch_merge: false` may be returned from the concourse cache (= baggageclaim)
2) Default value of fetch_merge should be set to true by default

The reason for 1) is that are using only the topic branch's SHA and pull

[2017-04-18 22:00] jtarchie commented on #74
@kei-yamazaki:

1. Your conclusion is incorrect. I reached out to the concourse team to clarify. The cache key in baggage claim uses the `resource type + source + params + version`. So if `fetch_merge: true` is not working for you, can you provide a working repeatable example, as you are the only reporting this.

2. I will not default it. It purposely an option.

[2017-04-19 05:13] kei-yamazaki commented on #74
1. I saw a conversation with Slack. Thank you for the information.

2. I see.

Regarding 1, why I thought it was a cache problem, I made the following pipeline based on the sample you provided at https://github.com/jtarchie/pullrequest-resource/issues/74#issuecomment-292227024.

[code]

The pipeline above works fine in terms of updating the status of pull-request.

However, looking at the SHA of t

[2017-04-19 12:12] jtarchie commented on #74
Everything looks correct. I am not following what the issue is, sorry.

[2017-04-26 13:53] jtarchie commented on #74
@nota-ja, thanks for the clarification. But as I've said, this expected behaviour. The resource only checks for newer versions of PRs based on their commit SHAs, not the merge SHAs.

The reasoning was that merge SHAs are not guaranteed to have a value. I'm favoring the existence of an open PR over an open PR that might be meregable. It is up to the pipeline maintainer to decided what to do. All th

[2017-04-26 13:53] #71 closed

[2017-04-28 09:47] nota-ja commented on #74
Thank you for the response, @jtarchie .
I think I've understood your policy and I'd respect it.

I imagine that one of such cases is that a merge fails because of conflict.
Since there will be such cases, I think it is reasonable for the pullrequest-resource to provide only the PR origin HEAD's SHA, and to leave it for each pipeline maintainer to generate the merged commit's SHA.

So now, the next

[2017-05-15 16:58] timrchavez opened #77 "Add support for the new https://concourse.ci/configuring-resources.html#webhook_token"
Would be nice to use webhooks instead of polling to trigger PR jobs.

[2017-05-15 17:06] #77 closed

[2017-05-15 17:06] timrchavez commented on #77
See that this feature just "triggers" a normal resource check

[2017-06-08 20:52] emcniece opened #78 "Comment on PR without changing status?"
As per the docs:

But I want to make a comment without changing the status of a PR. I have some parallel jobs and I want them to post comments asynchronously without affecting the success/fail state of the job doing the testing. Is this possible?

[2017-06-09 18:34] jtarchie commented on #78
It is not possible. The resource requires a status to be set -- hence the *Required*.

[2017-06-09 18:43] emcniece commented on #78
Thanks for clarifying!

[2017-06-09 18:43] #78 closed

[2017-06-09 20:13] zambien opened #80 "skip_ssl_verification seems to be ignored in check"
Hello,

Thanks for this wonderful resource for concourse. I've been having a lot of fun with it in my local play environment.

Today I started to use this in my enterprise.  Our enterprise GH is signed by an internal CA so the cert is not known.  I have set skip_ssl_verification but am still seeing this error message.

[code]

Any idea what I can do to resolve?  I will most likely create a docker

[2017-06-09 21:56] jtarchie commented on #80
The `skip_ssl_verification` is only used for `git` repos. The issue you are having is that the Github api endpoint you are hitting does not have a valid cert.

Are you hitting `github.com`?

[2017-06-10 01:40] zambien commented on #80
Ah, I see.  I created a Docker image from this one simply adding our CA certs and now I'm good to go.  Thanks!

[2017-06-10 01:40] #80 closed

[2017-06-10 01:44] jtarchie commented on #80
Are you using Github Enterprise with self signed certs?

[2017-06-10 14:52] jtarchie commented on #74
1. The `fetch_merge` is based on the fact when you checkout the [branch](https://help.github.com/articles/checking-out-pull-requests-locally/) the represents the PR, you can ask for `merge` not `head`. That's all the resource does with the `fetch_merge`.

2. Yes. For the `get`, the `fetch_merge` makes sense. It is a parameter used to get specific details of that resource. It doesn't modify the res

[2017-06-10 14:52] #74 closed

[2017-06-13 05:35] ggeorgiev opened #81 "Support for git lfs"
Could you please add git lfs support? All you need to do is add to the dockerfile this command:

RUN set -x \
&& curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | bash \
&& apt-get install -y git-lfs \
&& git lfs install

[2017-06-13 10:13] ahume opened #82 "Use Github GraphQL API to reduce requests"
https://developer.github.com/v4/

This might help simplify filters, as well as improve certain configurations of the resource which result in multiple REST requests made to Github.

[2017-06-14 12:45] jtarchie commented on #82
@ahume, what problem are you trying to solve? This is a very implementation issue.

[2017-06-15 14:22] jtarchie commented on #81
There more to it than that. Aren't there actual commands to pull down the *lfs* blobs?

[2017-06-15 14:23] jtarchie commented on #81
[Yep](https://github.com/concourse/git-resource/blob/096e9228292cf0342a8b748b8cf34ecc3edb6cc0/assets/in#L89-L90).

I think this is doable.

[2017-06-15 15:53] ggeorgiev commented on #81
You are right - it seems that there is more to that. I, for example, do not know how git-resource is able to clone without lfs at first place - all I read is that lfs gets fetched by default and you have to do an extra setup in the repo or env to prevent that.

[2017-06-15 15:58] ggeorgiev commented on #81
I just double checked with my repo - clone just does it

git clone git@github.xxx.git
Cloning into 'xxx'...
remote: Counting objects: 151719, done.
remote: Compressing objects: 100% (95/95), done.
remote: Total 151719 (delta 42), reused 73 (delta 24), pack-reused 151594
Receiving objects: 100% (151719/151719), 161.34 MiB | 10.76 MiB/s, done.
Resolving deltas: 100% (95016/95016), done.
Checking con

[2017-06-20 13:36] jtarchie commented on #82
@ahume, please follow up to my question above. It is not clear what problem/issue you are having.

[2017-06-20 15:52] ahume commented on #82
@jtarchie Not a direct problem as such, although we do make heavy use of the resource with the `paths` setting on our monorepo. Each resource makes 5/6 requests per check if I remember correctly, so we need a few tokens to not hit up against API limits.

The new graphql API might allow for doing these in one request, which would relieve that problem, as well as simplifying the check code.

Totally

[2017-06-20 16:03] jtarchie commented on #82
@ahume, were you actually getting errors related to rate limiting?

[2017-06-20 17:33] ahume commented on #82
@jtarchie Yes, it's 5000 an hour per token. And we have hit limits, but our usage is unusual (we have over 100 PR resources on one repository).

[2017-06-21 15:49] jtarchie commented on #82
I'll take a look, but don't think I'll have to much time to invest. It seems at first glance to be an "all or nothing" approach with GraphQL.

[2017-06-21 20:40] ggeorgiev commented on #81
What are the plans for this? I had to move forward with the lfs and now I have several tests disabled for the pr. Not to push you, I just want to know if I have to create a fork, or you will implement this soon.

[2017-06-25 16:51] jtarchie commented on #81
@ggeorgiev, it has been pushed to the `test` docker image. Please try it out. This the [commit](https://github.com/jtarchie/pullrequest-resource/commit/8874cc8ffc1ba13ed27e9453b4c92fbeac11790a).

[2017-06-25 17:07] jtarchie commented on #82
The more I explore this. It looks a little doable-_ish_.

It appears that GraphQL even has its own [limitations](https://developer.github.com/v4/guides/resource-limitations/), so it might not actually solve your problem.

Again, it is an all or nothing thing. It is hard to test to see if it fixes your use case without changing everything. And I'm lazy... :-)

[2017-06-26 10:08] msiegenthaler commented on #81
Worked for me.
All the files from the git-lfs were checked out fine in a 'real' build that failed before. Thanks!

[2017-06-26 13:04] jtarchie commented on #82
Maybe we should thing of this a different way.

Why do you require a 100 PR resources on repository?

[2017-06-26 13:28] ahume commented on #82
I'm honestly not trying to get you to help with us hitting API limits. :) Just thought that the graphql API might be a good fit for the resource, but if it's not going to make much difference, then we should close this.

Our primary use of Concourse is for deploy pipelines (Google Cloud infrastructure and Kubernetes). For example, we have a monolithic repository that contains all our kubernetes ma

[2017-06-26 13:34] ahume commented on #82
![img_0419](https://user-images.githubusercontent.com/30920/27541638-875a86fa-5a7c-11e7-9f85-44c3300b77b7.JPG)

[2017-06-26 14:50] ggeorgiev commented on #81
I do not what happened, I am sure that I posted some comments to this post.

Anyways, it works for me too, except for the `git.disable_lfs` part.

[2017-06-26 20:42] ggeorgiev commented on #81
Could you please move this to the release. I mean the disable thing always can be fixed later.

[2017-06-27 01:37] jtarchie commented on #81
Delivered. v24

[2017-06-27 01:37] #81 closed

[2017-06-28 19:25] jtarchie commented on #82
Using GraphQL for completely doing the filtering may not be possible. It can return enough information, almost.

I've not be able to find how to pull in the files that have changed in a PR, so I can support `paths`/`ignore_paths`.

The `octokit` library I've been does a lot of magic in pagination. Maybe I can tweak those setting so it returns more results with less requests.

[2017-06-28 19:33] jtarchie commented on #82
Yes, I can with `per_page` and add some request caching, which [Github supports](https://developer.github.com/v3/#conditional-requests).

If I can set this up, willing to be a tester?

[2017-06-29 03:54] jtarchie commented on #82
Would you be willing to try a test Docker image with your pipelines?

[code]

This enables HTTP request caching on the Github API. That way it will send the `Etag` of a previous API request, if nothing has changed, the cache content is used, and is not counted against your API rate limit. You *should* always get the latests updates, only if they exist.

[2017-06-29 16:06] ahume commented on #82
Yes, absolutely happy to test. Taking a look now.

[2017-06-30 10:15] ahume commented on #82
Switched to the `cache-test` version for one resource. The rate limit usage seems to go down by 5 requests per check. It was six previously, so perhaps the etag change has had some impact, but not as much as one might imagine.

[2017-07-06 21:43] jtarchie commented on #82
@ahume, I don't think that there is much I can do to resolve this then. Sorry, we're at the mercy of the Github API on this.

[2017-07-06 21:43] #82 closed

[2017-07-14 01:59] kurtmc commented on #82
So I have deployed the change I made here https://github.com/jtarchie/pullrequest-resource/pull/85/files to a few of our pipelines and we have seen a big reduction in our API usage. @ahume Could you trial it to see if it reduces your API usage?

[2017-07-18 08:00] p0wl commented on #74
Hey, first of all thanks for your awesome project!

would you be willing to accept a pull-request that allows setting the status even with `fetch_merge` enabled? I thought about saving the rev of the head of the pull-request in the git config, the same way you share settings between in and out here: https://github.com/jtarchie/pullrequest-resource/blob/master/assets/lib/commands/in.rb#L35

That wa

[2017-07-25 17:41] cdaringe opened #86 "Support for POSTing back target_url for statuses?"
hello!  i'm looking for some input about current support or feasibility for a feature.

# problem statement

- no clickable link in GitHub status to bring user to associated concourse job run

# discussion

GitHub maps the `target_url` from the [status POST](https://developer.github.com/v3/repos/statuses/) to `Details` button
### expected

something similar to this:

<img width="692" alt="screen s

[2017-07-25 18:19] jtarchie commented on #86
This is already [supported](https://github.com/jtarchie/pullrequest-resource/blob/master/assets/lib/status.rb#L19). How do you have `resource` defined?

[2017-07-26 04:04] cdaringe commented on #86
No kidding.  We used the example pipeline as a guiding reference, and didn't see it in there.  We didn't see it in the docs either.  How can we use it?  Well send a README or :)

[2017-07-26 04:05] cdaringe commented on #86
PR*

[2017-07-26 12:05] jtarchie commented on #86
Did you set the `base_url` on `source`?

[2017-07-27 10:07] ese commented on #74
I am falling on this. But i dont understand why failed and success status works fine but pending is failing and this is an expected behouvior @jtarchie

[2017-07-27 13:14] jtarchie commented on #74
@p0wl, I'm sorry, no.

The requested changes the behaviour of the `put` without any backwards compatibility would break the following:

1. Some users actually do set the status on the merge commit as they merge it in on the `put`, too.
1. The `put` can be used as an arbitrary status setter for any git repo, not just the PR gotten out. This was a requested and used feature.

These features are easy

[2017-07-28 13:27] zhenyulin opened #87 "checking failed"
[code]

[2017-07-28 18:45] jtarchie commented on #87
Repo doesn't exist: https://github.com/finbourne/website

[2017-08-01 02:59] jtarchie commented on #86
@cdaringe, any updates? I'm pretty agressive on getting issues closed. If there are no updates after a hile, I'm going to close this.

[2017-08-01 03:00] jtarchie commented on #87
Any updates?

[2017-08-01 05:04] cdaringe commented on #86
Hey man, I'll check tomorrow and write back.  Would you accept a README PR for specifying it?

[2017-08-01 11:37] zhenyulin commented on #87
@jtarchie it is actually a private repo and I've added the private_key in the configuration as well

[2017-08-01 12:27] jtarchie commented on #86
@cdaringe, you should get it for free. There is nothing to specify. If you aren't getting it, my guess you have something incorrectly configured, which is why I am asking about above.

[2017-08-01 12:29] jtarchie commented on #87
Does the private key have read access to private repos?

[2017-08-01 13:07] zhenyulin commented on #87
@jtarchie yes, it was used on the git resource as well, and it works fine; it is an organisation private repo, not sure if this is causing trouble together with the access token?

[2017-08-01 13:36] jtarchie commented on #87
You don't use an access token on the git resource, you use an SSH key, right? They are not the same thing here.

[2017-08-01 14:20] jtarchie commented on #87
Can you try:

[code]

If it returns the same error, there is something wrong with the permission of the `access_token`. Please see the `README` for more info.

[2017-08-01 17:39] cdaringe commented on #86
@jtarchie, there's no `base_url`, but `api_endpoint` is a thing--we are using GHE vs github.com.  did we miss something here?

[code]

[2017-08-01 18:12] jtarchie commented on #86
Are you using Github Enterprise? If so, what version?

[2017-08-01 18:47] joshsleeper commented on #86
Hey @jtarchie, I'm a coworker of @cdaringe.

Concourse v3.2.1
GitHub Enterprise v2.10.2

[2017-08-01 19:31] jtarchie commented on #86
The docs for Github enterprise say it should be supported. I'm not sure that this is a resource issue, though.

Can you try explicitly setting `base_url` to your concourse deployment url? That should force it no matter what. If that doesn't work.

[2017-08-01 23:53] cdaringe commented on #86
indeed, adding `base_url` fixed it

[2017-08-01 23:56] jtarchie commented on #86
That means that an environment variables is not being passed to the resource. This might be a concourse issue. I'm going to close this.

[2017-08-01 23:56] #86 closed

[2017-08-08 14:08] jtarchie commented on #87
I'm closing this due to inactivity.

[2017-08-08 14:08] #87 closed

[2017-08-08 14:21] mazubieta opened #90 "Request: eval context to help DRY up jobs"
Could you please evaluate the `context` parameter like here: https://github.com/cloudfoundry-community/slack-notification-resource/blob/c1686fb4b6ed41a4a28d6de497889e5fae7e2cfd/out#L99

This will help D.R.Y. up job definitions where there are several build contexts and statuses used.

[2017-08-09 11:34] zhenyulin commented on #87
@jtarchie sorry, just saw this. I've tried the above, and it returns the following empty array
[code]

[2017-08-09 11:34] zhenyulin commented on #87
@jtarchie is username required as well in the setup?

[2017-08-10 00:57] drnic opened #91 "Another demo"
I wanted to learn how this resource worked outside of a busy production CI pipeline so I whipped up a little interactive demo and included some screenshots. https://github.com/starkandwayne/concourse-pullrequest-playtime

Thanks for the resource!

[2017-08-10 16:45] jtarchie commented on #91
Thanks!

[2017-08-10 16:45] #91 closed

[2017-08-14 02:59] jtarchie commented on #90
Are you able to try out the feature? Use the test docker image `jtarchie/pr#test`.

[2017-08-14 13:17] mazubieta commented on #90
I'll try this out today. Currently trying to figure out why my mbp is stuck in a reboot loop with security update 10.12.6 o.O

[2017-08-14 14:40] mazubieta commented on #90
I'm not sure what I'm doing wrong:

I changed:
[code]

to

[code]

This results in `resource script '/opt/resource/in [/tmp/build/get]' failed: exit status 1`

<img width="1107" alt="screen shot 2017-08-14 at 9 35 04 am" src="https://user-images.githubusercontent.com/522040/29276361-fa34a232-80d3-11e7-8c6d-3339d986805c.png">

And if I force a re-trigger of the pipeline it fails after pulling the i

[2017-08-14 14:42] mazubieta commented on #90
Is there a reason that the docker image has nearly tripled?

<img width="1134" alt="screen shot 2017-08-14 at 9 41 42 am" src="https://user-images.githubusercontent.com/522040/29276637-da6d381e-80d4-11e7-9951-252ba897dcc2.png">

[2017-08-14 14:46] jtarchie commented on #90
[code]

And the extra-size is because it has test dependencies, don't worry about that for the final image.

[2017-08-14 14:51] mazubieta commented on #90
Thanks, that worked!  Sorry about that >_<

Yeah, this is the desired result!

[2017-08-15 17:24] jtarchie commented on #90
Great! I'll release an official release tonight.

[2017-08-17 10:43] zhenyulin commented on #87
@jtarchie Hi, I've further checked this, and actually is able to get data back from the API with the access_token

[2017-08-17 10:47] zhenyulin opened #92 "checking failed while able to get data with access_token"
following previous opened issue https://github.com/jtarchie/pullrequest-resource/issues/87

I'm able to get the data from the API with the access_token
`curl -u username:ACCESS_TOKEN https://api.github.com/repos/finbourne/website/pulls?base=master&direction=asc&per_page=100&sort=updated&state=open`

so the permission of the access_token works fine, but I'm getting the following error in concourse

[2017-08-17 22:14] jtarchie commented on #92
@zhenyulin, I'm trying to help, but you never really provide any more information then *this error occurred*. This doesn't help me to help you.

I need you to be an investigator and narrow it down. You are the only one reporting this issue.

[2017-08-18 09:59] zhenyulin commented on #92
@jtarchie thanks for following up.

Here's my concourse setup
[code]

I've also tested it on our public repo, and it works fine, while the check also fails for other private repo as well.

[2017-08-18 10:02] zhenyulin commented on #92
This is what I get from the curl command
[code]

[2017-08-18 15:39] jtarchie commented on #92
@zhenyulin, your config for `access_token` in the pipeline is misspelled. It says `acess_token` when it should read `access_token`.

[2017-08-21 08:43] zhenyulin commented on #92
@jtarchie ah, this is the issue. Thanks for helping with debugging it. Might be useful to add the curl command to the docs to help confirming the `access_token`

[2017-08-21 08:43] #92 closed

[2017-08-22 03:56] jtarchie commented on #90
Done, pushed it to latest.

[2017-08-22 03:56] #90 closed

[2017-08-22 11:32] mazubieta commented on #90
Awesome, thank you!

On Mon, Aug 21, 2017 at 10:56 PM JT Archie <notifications@github.com> wrote:

[2017-08-29 14:17] phillbaker opened #98 "Cancel existing PR jobs if PR is updated?"
Hi @jtarchie, was curious for your thoughts: I've found that it's common for developers to create a PR and then push several subsequent commits relatively quickly (either as force pushes or additional commits), which causes a backlog in concourse jobs, most of which are not necessary.

One solution that I think I've seen in other CI systems is to cancel the earlier jobs in favor of the latest jobs

[2017-08-29 14:22] jtarchie commented on #98
The resource cannot control the backlog of other concourse jobs. It just returns versions and concourse _reacts_ to how it will iterate through those version -- i.e `version: every`.

Sorry, I don't think there is a clean solution for this.

[2017-08-29 14:22] #98 closed

[2017-08-31 01:38] mazubieta opened #99 "feature request: provide meta information about the pr"
So this might be a tough ask as I believe in order to do this it would require breaking changes.

As a user of the pullrequest-resource, I would like access to meta information about the pull request for consumption by other resources.  I currently only care about the name of the branch associated with the PR but I'm sure other information, such as the user, would be valuable for other use cases.

[2017-09-01 02:08] jtarchie commented on #99
Pulled in the PR, closed in v27.

[2017-09-01 02:08] #99 closed

[2017-09-04 15:56] jtarchie opened #103 "use only `git fetch`"
It looks like a *hack* to just get the PR branch, rather than the original branch and then PR branch is possible.

Right now,

[code]

It looks like we could do,

[code]

It would limit a needless checkout. My only wonder is anyone using it?

[2017-09-13 09:35] NuclearNic opened #106 "Populate file with commit hash of latest commit on PR's branch"
I would like to be able to tag the docker image that gets built by our a pipeline with the commit hash of the latest commit on the PR's branch similarly to how (e.g.) .git/base_branch is created.

This is important in the pipeline I'm working on because we want to uniquely tag our built images.

I've created a PR for the above. This is the first PR I've put in for open-source :)

[2017-09-17 00:34] #106 closed

[2017-09-17 00:41] jtarchie commented on #106
Released in latest version, thanks.

[2017-09-19 06:23] jdub commented on #103
Probably also worth fetching the base branch too, for those who check for differences between the PR and base (actual diffs, log entries, etc).

[2017-09-19 12:49] jtarchie commented on #103
@jdub, I know that is something that you can do, but wasn't necessarily documented feature. :wink: Now creating an interface to support this behaviour is something I wouldn't mind adding.

I created this issue because I wanted to propose a more optimized way of pulling the PR, therefore causing less clones.

[2017-10-18 16:51] defsprite opened #112 "Version changes over time"
When using multiple PR status updates over a longer time period, the version checked out (and referenced in the version) via `get` will change over time if new commits are added to the pull request while it is in flight.

I think the reason for this is that the `in.rb` checks out the head ref of the branch (instead of using the version provided via the pipeline (that came from `check.rb` or `put.r

[2017-10-20 00:08] jtarchie commented on #112
I suppose it could be an edge case that is happening. Are you able to confirm the SHAs in the repo your are testing against? For instance, do both SHAs appear in the PR commits or did one override the other?

[2017-10-20 10:26] defsprite commented on #112
My initial idea was that it was caused by a rebase, but that was not the case. It is a succession of two commit SHAs that happened while the tests were in flight.

We've tried to reproduce this by passing an old ref via something like `echo '{"source": ...}' | docker run jtarchie/pr /opt/resource/in` but to no avail. There must be more going on.

[2017-10-22 18:27] jtarchie commented on #112
I don't know if this is something that can be fixed. If someone does a `git push --force` on the PR, the original SHA reference will never be available.

[2017-10-23 12:37] vrinek commented on #112
Hi, colleague of @defsprite here, trying to debug the same issue.

---

This was not a case of force pushing commits:

![screen shot 2017-10-23 at 14 32 21](https://user-images.githubusercontent.com/81346/31889150-0adb1e74-b7ff-11e7-88cd-a635e89af750.png)

The rough timeline of events went like this:

- Commit `80ceffd` is pushed to branch of PR`1208`
- Concourse picks up the new commit and starts

[2017-10-24 15:00] rnurgaliyev opened #114 "Make an option to disable caching of GitHub API requests"
Caching of GitHub API requests was introduced in [v25](https://github.com/jtarchie/github-pullrequest-resource/releases/tag/v25). When using Concourse WebHooks this cache is not desirable, because sometimes this resource does not ask GitHub for new versions when checked by WebHook. Introduicng an option to disable this cache would fix these problems.

[2017-10-24 15:43] jtarchie commented on #114
This seems like there is something with the cashing mechanism then. It is relying on the GitHub API supporting it correctly.

Do you have a reproducible example?

[2017-10-24 15:46] jtarchie commented on #114
Maybe this is just the API and the webhooks are out of sync.

[2017-10-24 15:48] rnurgaliyev commented on #114
Sorry for not preparing reproducible example in advance. I'll do it and update this issue.

[2017-10-26 18:17] jtarchie commented on #114
The webhook is just used as a trigger for a resource, the meta data from the webhook is never consumed by any resource.

Can I ask why you chose webhook over the standard `check`?

[2017-10-26 20:47] rnurgaliyev commented on #114
Hitting GitHub API rate limits with default check rates, >100 GitHub concourse resources in >20 pipelines. We are using different users, but new pipelines are created every day with lots of resources, so we've decided that Webhooks is a must now.

[2017-10-26 21:02] jtarchie commented on #114
The caching is designed to get around the GitHub API rate limits, though. A cached hit response does not count towards the Rate Limit. I have you tried moving over to that?

[2017-10-27 21:45] CyrilPeponnet commented on #80
Hitting the same. Would have been great to have the option to disable ssl verify as well when using ghe.

[2017-11-01 19:32] p0wl opened #117 "Question: How does the plugin determine which pull-requests to test"
The [readme](https://github.com/jtarchie/github-pullrequest-resource#check-check-for-new-pull-requests) says:

Where is this logic implemented? All I see in [lib/commands/check.rb](https://github.com/jtarchie/github-pullrequest-resource/blob/master/assets/lib/commands/check.rb) that the list of pull-requests (after the filters) is returned, but I cannot find the place where the list is filtered by

[2017-11-01 21:27] jtarchie commented on #117
Readme is wrong, got rid of that logic a long time ago.Will fix.

[2017-11-01 21:27] #117 closed

[2017-11-01 21:31] p0wl commented on #117
Can you elaborate how it works now? It seems that check will return a list of pull requests, as described in the [specs](https://github.com/jtarchie/github-pullrequest-resource/blob/master/spec/commands/check_spec.rb#L75-L80), but how does concourse decide which pull-request it has to test? I don't understand the criteria on which concourse decides that it is now scheduling a run with a given pr.

[2017-11-01 21:33] jtarchie commented on #117
Let me turn this around. 🤔

What problem are you having that this information is important?

[2017-11-01 21:38] jtarchie commented on #112
Thanks for the update. It looks the `git clone` of the PR should enforce a `git checkout` just in case.

[2017-11-01 21:39] jtarchie commented on #103
@jdub, I'm thinking of providing an option to pull down the `base` branch, too. I've got some pipelines where doing two `git clones` on a repo takes forever, mainly because of submodules.

[2017-11-01 21:46] p0wl commented on #117
I was thinking about a solution for the "retest" issue (https://github.com/jtarchie/github-pullrequest-resource/issues/46) and I digged in your code and concourse code to understand the internals better. I have read all the threads about the issue, so I know your point of view and agree with it, but I still lack the understanding why this is so hard to implement.

I want to understand what the che

[2017-11-02 02:41] jtarchie commented on #117
@p0wl there is no solution I'm comfortable rather than one supported from concourse. It is not hard to implement from the resource, it shouldn't do it.

The proposal that always comes up it to add some different meta information to the PR -- a certain comment, a new label, etc.

The PRs are just returned to concourse in the most recently updated order. If you don't have `version: every` on your `g

[2017-11-02 08:35] p0wl commented on #117
okay, thanks for the explanation!

[2017-11-07 22:48] jtarchie commented on #103
I'm actually going to close this. It appears that `depth` flag wasn't in all the right places, thanks to some PRs this is fixed.

[2017-11-07 22:48] #103 closed

[2017-11-07 22:51] jdub commented on #103
Great changes!

[2017-11-08 19:19] yevster commented on #117
Wait, there was a PR for retriggering? I'll happily pull it into [my fork](https://github.com/yevster/github-pullrequest-resource) (together with the aforementioned odious custom metadata proposals already implemented there). 😈

[2017-11-10 21:27] mrparkers commented on #114
I'm running into this as well.  I've noticed that builds aren't triggered (via webhook) on a pull request if a push to that branch / fork is done too quickly after the last one.

I don't have any definitive proof that caching is causing our issues, but our pipelines have been downgraded to use `jtarchie/pr:v24` instead of `latest` and everything is working just fine.

We will probably stay on this

[2017-11-10 21:43] jtarchie commented on #114
@mrparkers, I'll ask again, why use the webhook functionality? The caching was added to not hit the rate limit.

[2017-11-10 21:46] mrparkers commented on #114
We're running on GitHub Enterprise, and if we continue to allow resources to poll for updates every minute, Concourse is going to flood GHE with a lot of unnecessary traffic.

Also, webhooks are nice because the feedback loop after creating the PR is much faster, as opposed to waiting up to a minute for the resource to poll for changes.

[2017-11-11 14:59] jtarchie commented on #114
The caching was originally added to [ease the rate limit](https://github.com/jtarchie/github-pullrequest-resource/pull/85) on a GHE. On that GHE installation they didn't seem to mind the extra http requests being made.

This is just a bit humorous to now be asked to do it the other way.

It seems that there are limitations on deployments of GHE.

I'd accept a PR on this, with a test, that has an o

[2017-11-26 11:34] soofff opened #125 "resource script '/opt/resource/in [/tmp/build/get]' failed: exit status 1"
hi,

i am getting the following error when i click on the pr resource in web ui:
`resource script '/opt/resource/in [/tmp/build/get]' failed: exit status 1`

concourse 3.6.0

resource definition:
[code]
Intercept command:
[code]

thanks

[2017-11-27 02:46] jtarchie commented on #125
Two things:

1. The resource doesn't support anything like `no_ssl_verify`, only `skip_ssl_verification`.
2. `fly intercept` assumes `bash` is an available entry point, on the resource it isn't, so add `sh` as the command in the `intercept`.

Is there anything else to the error message?

[2017-11-27 08:28] soofff commented on #125
thanks for your quick response.

i have removed `no_ssl_verify: true` and run it again but unfortunately i got the same error message. There is no additional error.

[code]

[2017-11-27 17:47] jtarchie commented on #125
The error message from `resource script '/opt/resource/in [/tmp/build/get]' failed: exit status 1`. Is there a stacktrace before it? Otherwise I won't be much help.

[2017-11-27 17:51] jtarchie commented on #114
I'm still not comfortable the fact that Github issues a webhook, but the API `E-Tag` is not invalidated. It seems like we found a bug with Github Enterprise. Working around that bug feels _wrong_.

[2017-11-27 18:13] jtarchie commented on #114
I created a support issue with Github Enterprise support to see if they could reproduce or identify the issue. They don't provide a link to those support issues, though.

[2017-11-28 08:13] soofff commented on #125
That´s all what i see on the web ui. i have tried to hijack the container but as i mentioned it doesn´t work.  Any other resources are fine. Do you have an idea how to create a debug log or something similar for that?

[2017-11-28 21:18] jtarchie commented on #112
I think this was resolved in this commit 5ee29d6615a25d7a8fcc2bca57abba3d51c45296. Does it work for you?

[2017-11-29 13:21] jtarchie commented on #114
From GHE support:

Can anyone follow up?

[2017-11-29 13:28] jtarchie commented on #125
What are you doing on your `get` for the PR?

[2017-11-29 19:47] soofff commented on #125
hi, i have reinstalled everything to make sure that i have a clean system
now i am unable to reproduce the error but i got a different error `custom resource type 'pull-request' version not found`
[code]

[code]

[code]

There is one pull request open which means theres should be a version?

[2017-11-29 20:12] jtarchie commented on #125
The `README.md` covers the definition of the `resource_types`. You are using an incorrect docker image name.

[code]

[2017-11-29 20:13] soofff commented on #125
yes you are right, i have no idea why i did that.

now everything works as expected.

thanks for your support

[2017-11-29 20:13] #125 closed

[2017-12-13 01:44] jtarchie commented on #114
Another call out to the users in this comment thread. Github Enterprise Support reached out to me about this issue. They would like anyone to follow up on this to help them debug.

I don't have access to GHE deployed.

[2017-12-15 01:05] panpan0000 opened #126 "option to use origin/pr/xx/merge instead of origin/pull/xx branch"
First of all, thank you to providing this powerful resource.

The `pr/xx/merge` branch is github feature provided , automatically merging the pull-request branch with latest master (if no conflict) .
it's very critical for CI test:    even if `pull/xx` branch passes CI test ( worse case is that that branch was based on very old master) , it may break master branch once it's merged. so CI test agai

[2017-12-15 02:46] jtarchie commented on #126
Please see the `fetch_merge` option for the `get`.

[2017-12-18 03:33] panpan0000 commented on #126
Awesome. @jtarchie !

[2017-12-18 08:00] panpan0000 commented on #126
Hmm... sorry man.

I just discovered another `issue-maybe`  relevant to this topic.

As we know, because 'path' is required when `put` (or called `out`) a pull request ( to set commit status).
So it requires to `get` the pull-request-resource( to clone the repo in `path` above) in the same job before we need to `put` it.

BUT, if the `path` is `get` by `fetch_merge: true`, then the `put` will neve

[2017-12-18 14:16] jtarchie commented on #126
Yep, it does require a duplicate `get`.

[2017-12-19 01:07] panpan0000 commented on #126
Thank you, @jtarchie !!! will close this issue

[2017-12-19 01:15] #126 closed

[2017-12-19 03:27] trivigy opened #127 "How often does the check for new PRs happen and is there a way to make it more frequent?"

[2017-12-19 04:05] jtarchie commented on #127
Concourse checks for new version of resources every minute by default or you [`check_every`](http://concourse.ci/single-page.html#resource-check-every) can be used.

[2017-12-19 04:05] #127 closed

[2017-12-19 04:07] jtarchie commented on #114
I'm closing this due to inactivity. I'll reopen if anyone is able to help GHE Support evaluate the issue.

[2017-12-19 04:07] #114 closed

[2017-12-19 04:08] jtarchie commented on #112
Closing due to inactivity. Please reopen if the issue still occurs.

[2017-12-19 04:08] #112 closed

[2017-12-19 21:12] Saphyel opened #128 "Trigger on close/merge"
Hello! would be possible to trigger this when a PR is closed or merged?

I think this could be useful for people that create a temporal environment with that PR so they would be able to destroy the environment.

[2017-12-19 21:42] jtarchie commented on #128
Not at moment. It would conflict with the way new PRs are detected, which directly correlates to opened PRs. I'd propose that a new resource be created for this.

[2017-12-19 21:42] #128 closed

[2017-12-29 18:04] leshik opened #129 "Need help configuring the resource to iterate each PR"
Hi,
Could you please help me to configure `github-pullrequest-resource`? Apparently, I miss some point. I want the job to iterate over all open PRs and as per documentation

I configured `on_success` and `on_failure` outputs. Here is my config:
[code]
But the job stops after the first broken PR (the status of PR gets updated, however):

![screenshot 2017-12-29 20 54 47](https://user-images.githubu

[2017-12-29 22:24] jtarchie commented on #129
Concourse does not work with `version: every` on an initially loaded pipeline. It will only do it from now on. Meaning every subsequent PR that you open.

[2017-12-30 08:13] leshik commented on #129
@jtarchie Thank you! Do new commits to existing PRs matter, or these should be absolutely new pull requests?

[2017-12-30 08:49] trivigy commented on #127
@jtarchie thanks for the feedback. I tried adding `check_every` of `5s` and `1s` and on the face of it doesn't seem to make a different. Would greatly appreciate some additional help.
[code]

[2017-12-30 18:31] jtarchie commented on #127
There is no visual indicator that a `check` is happening. It just happens in the background.

[2017-12-30 18:31] jtarchie commented on #129
New commits on PRs matter, so they'll trigger.

[2017-12-30 18:46] leshik commented on #129
Thank you!

[2017-12-30 18:46] #129 closed

[2018-01-16 22:28] shinmyung0 commented on #40
@celder0 is correct in saying that the `merge_commit_sha` is available from the Pull Request API:
https://developer.github.com/v3/pulls/#link-relations

The main issue is that when a `get` is used with `fetch_merged: true` the returned version uses the Pull Request's `HEAD sha`, but when a`put` is used with the same resource the version output is the `merge_commit_sha`.

More importantly, the stat

[2018-01-17 00:06] jtarchie commented on #40
My example in the comment is incorrect. I meant to show the workflow you outline above. My apologies for the confusion.

This is as designed. The SHA for the `fetch_merged` repo is [used](https://github.com/jtarchie/github-pullrequest-resource/blob/master/assets/lib/commands/out.rb#L34) for the `put`. There was a request was to be able to report a status to any SHA, not just a PR. It is an undocum

[2018-01-17 01:48] aditya87 opened #132 "Want support for [ci skip] on outstanding PRs"
We have a frequent PR cadence in our team, and have a pipeline that triggers on every push to an outstanding PR. Which is annoying because it takes up resources. I have added a [ci skip] feature which ignores commits that have [ci skip] in them. Similar to how the git-resource works.

See my PR: https://github.com/jtarchie/github-pullrequest-resource/pull/131

[2018-01-17 05:30] shinmyung0 commented on #40
In that case, I think the correct way to go about this would be to move the `fetch_merged` param to the resource definition into something like a `use_merge_commit` so that the `get` and the `put` would be synchronized to the same `sha`:

[code]
As per this documentation : https://developer.github.com/v3/pulls/#get-a-single-pull-request
I think the `merge_commit_sha` can be obtained via the Pull R

[2018-01-27 18:24] jtarchie commented on #132
Has been released in v32.

[2018-01-27 18:24] #132 closed

[2018-01-31 23:34] optiomas opened #136 "Support PR reviews"
Hello there,

Thanks for the great project! We're running into a potential good use of `github-pullrequest-resource` to not only set PR statuses with comments, but also to submit Github reviews with associated in-line comments.

This would allow a more deeply integrated feedback loop when pipelines produce the required information on a line by line, file by file basis. A good example would be a co

[2018-02-01 00:56] ndmckinley opened #137 "Provide only PRs which are mergeable."
It would be useful to my pipeline to only get a version from `check` if the PR in question is ready to merge.  You could imagine this being broadly useful to anyone who uses this resource's `params.merge.method` feature - it'd be better to discover that a PR is unmergeable *before* you go to do the merge.

[2018-02-05 22:44] ndmckinley opened #139 "Create a PR during `put`."
I'm doing code generation through Concourse, so I need to be able to create PRs at the end of the pipeline.  I imagine the way to do this might be to set the `pullrequest.id` git config to some specified value (e.g. `new`), and create the PR from a handful of other pieces of information which are set through git config variables.

[2018-02-06 05:20] jtarchie commented on #136
This sounds like a new resource.

[2018-02-06 07:12] optiomas commented on #136
A review exists only in the context of a pull request. While I’m not opposed to the idea of it being a separate resource, I’d like to understand your particular train of thought.

[2018-02-06 20:56] jtarchie commented on #136
Originally this resource was to solve the TravisCI behaviour, which I would like to keep. This addition seems like away to *avoid* an API call from the pipeline maintainer perspective. When you'd already have to convert your output to something the resource could support and then convert into API calls. Remove the middle-person.

[2018-02-09 14:26] leshik opened #141 "Is it possible to customize "details" link?"
Hi,

Is it possible to customize the check status "Details" link on GitHub?
I'm trying to implement code coverage reports and I'd like to link a page with reports.

[2018-02-09 17:22] leshik commented on #141
I checked the code and figured out it's not possible. Would be nice to have such an option and also the ability to change the description.

[2018-02-09 19:32] jtarchie commented on #141
PRs with tests welcome.

[2018-02-10 20:16] FlorianSW opened #142 "Support pulling pull request from a specific head branch only"
Currently, this resource allows to pull all pull requests, only, or all pull requests, which are created against a specific base branch. However, one use case is, that each branch in a git repository has it's own build pipeline in concourse. It would be great, if, in this case, this resource could be used to pull only pull requests which are created with this specific branch (head), and not all.

[2018-02-10 21:01] jtarchie commented on #142
I am not sure I follow. If you want to limit the branch the PR was made against you can with `base` on the `source`, see the README for more information.

[2018-02-10 21:04] FlorianSW commented on #142
Sorry, if this wasn't clear. I know the base option already, however, I would want to trigger, when a PR is made _from_ a specific branch. So, let's say, there's a master branch (which would be the base branch) and a feature branch `feature/1`. In this case, if I create a PR, `master` would be the base and `feature/1` would be the head. My pipeline should only trigger, if the PR was made to get ch

[2018-02-10 21:05] jtarchie commented on #142
I'm not sure why you need to limit this. How many PRs are you making from a `feature/1` branch?

[2018-02-10 21:07] FlorianSW commented on #142
Depends on, mostly one, however, afterwards the pipeline is being destroyed. That's probably not the best setup at all (there's one pipeline for each feature branch), however, it currently works pretty well, except for the pull request trigger (which would trigger each pipeline and not only the one for a specific branch).

[2018-02-10 21:11] jtarchie commented on #142
I'm not sure I follow still.

You are creating a new pipeline for each feature branch. Why do you need to check the PRs on that feature branch then. Can't you just scope the `git` resource to the branch name of the feature branch.

[2018-02-10 21:15] FlorianSW commented on #142
Currently there're two kind of pipelines:

1) A feature branch pipeline (one for each feature branch) which is triggered by the git resource (scoped to one specific branch)

2) The pull request pipeline, which is triggered by each pull request. This is used to report a status of a test build back to the pull request and enable or disable merging.

Both pipeline types has the same tasks, they only

[2018-02-12 20:08] jtarchie commented on #142
Why does the PR need to be tested here if you already have a pipeline for the feature branch? Isn't the PR just the feature branch?

[2018-02-12 20:14] jtarchie commented on #136
I'm trying to make this resource do less. Not just become a converter of one format to an API call. I know it does a bunch of that already, but I'm hesitant to keep adding it in. As it means more error handling, interfaces to extra API calls, etc.

I'm going to close this issue on those thoughts. If you can propose an interface that requires minimal effort on the resource's part and your's (to con

[2018-02-12 20:14] #136 closed

[2018-02-12 20:20] FlorianSW commented on #142
The PR is built again to have the pull request marked as being mergeable (only, if the built and the tests are passing), or not-mergeable (if the built or tests are failing). Otherwise, it would be possible to merge a PR without having tests run.

[2018-02-12 23:08] jtarchie commented on #142
I do not follow your explanation. What do you mean your PR is built again? The PR resource doesn't support anything like that.

I feel like I'm getting bits and pieces of the workflow. Not the full explaination of what problem you have and what this solves in that problem.

[2018-02-13 17:00] FlorianSW commented on #142
Ok, I'll try to explain it a bit wider, sorry if you feel, that the already provided information aren't enough :(

So, there's a github repo, where the code is hosted. The master branch of this repository is configured to "Require status checks to pass before merging", that means, that a concourse built needs to report back a "successful" build for a pull request before it can be merged, right?

D

[2018-02-15 21:45] jtarchie opened #145 "document `no_ssl_verify` for Github API ssl validation disable"

[2018-02-19 22:12] jtarchie commented on #145
Replaced it with `skip_ssl_validation`.

[2018-02-19 22:12] jtarchie commented on #145
Will be in next release.

[2018-02-19 22:12] #145 closed

[2018-02-19 22:16] jtarchie commented on #142
What is not clear to me, why do you have two different pipelines that do the same thing? It seems that you are you doing duplicate work. Testing the PR the exact same way as the feature branch. Why not one or the other? Adding this feature doesn't seem to solve the problem. As you'll still have a pipeline that tests the PR and the feature branch of the user, just at different times.

[2018-02-19 22:22] jtarchie commented on #141
Closing this in favour of the PR.

[2018-02-19 22:22] #141 closed

[2018-02-19 22:22] jtarchie commented on #139
Closing this in favor of the PR.

[2018-02-19 22:22] #139 closed

[2018-02-19 22:22] jtarchie commented on #137
Closing this in favor of the PR.

[2018-02-19 22:22] #137 closed

[2018-02-20 13:57] jtarchie commented on #142
Glad you were able to work something out. I'm all for simplifying pipelines and workflows. 👍

That being said. The github pullrequest resource has a hidden feature. Whatever repo is given on `path` for the `put` the resource will set the status. It doesn't have to be a PR SHA.

[2018-02-21 01:15] codesuki opened #146 "`Required status must pass before merging` never happens"
Hi there! Thanks for this resource.

The screenshot explains the problem well.
I already mailed GitHub support but they couldn't help.
The problem happens sporadically, on some PRs.
With other checks we didn't have that problem, yet.
What could be the problem?
<img width="717" alt="screen shot 2018-02-15 at 10 28 59" src="https://user-images.githubusercontent.com/5276006/36457934-c5193f92-16ef-11e

[2018-02-21 04:49] jtarchie commented on #146
Incorrect, the screenshot does not explain the problem. What is the issue here?

[2018-02-21 05:26] codesuki commented on #146
Although Concourse CI reports a success the build is blocked waiting for the status update.
(There is only the Concourse-CI status update)
Of course I cannot say that this is definitely a problem with `github-pullrequest-resource`, but since we didn't see this error using other CIs I want to ask if this is a known problem or if you have an idea what could cause this.

[2018-02-21 14:49] jtarchie commented on #146
Are you using `put` with a pull request that fetch_merged? It is probably applying to the merge SHA.

[2018-02-21 22:10] codesuki commented on #146
Exactly! Good catch. I'll remove `fetch_merged`.

[2018-02-22 07:00] codesuki commented on #146
Seems that was the problem. Thanks!

[2018-02-22 07:00] #146 closed

[2018-02-23 18:46] tamalsaha opened #148 "Seeing advice: run tests after approval"
Hi, I am learning about Concourse. One of my user-case is that I have public repos on Github. If someone outside my Github team sends pr, I would like to first approve the pr before running tests. This is to ensure that there are not malicious prs to steals secrets from ci server. Is there a way to do that with using this  Github resource? If not, do you have any ideas/suggestions on how to achiev

[2018-02-24 16:51] jtarchie commented on #148
There is no way currently. The PR #138 is looking to add this feature. It is currently in the review phase. Please watch that for changes.

Another alternative is using labels to filter ones you want to run. There is a configuration for that right now.

[2018-02-24 16:51] #148 closed

[2018-03-01 16:24] timrchavez commented on #114
We may be affected by this. We ran into a situation yesterday where a PR was created and it took 5 minutes (the default polling interval) before it was detected. Here is the sequence of events as we understand them:

2018-02-28T19:20:30Z PR was created
2018-02-28T19:20:30Z GHE posts webhook
2018-02-28T19:20:32Z GHE receives 200 back
2018-02 28T19:25:45Z Test starts running
2018-02-28T19:26:25Z Pen

[2018-03-05 17:02] ghostsquad opened #156 "Unclear how to iterate over all PRs"
I'm not sure what this means in the readme:

[2018-03-06 16:24] jtarchie commented on #156
I can update the docs on that but the most important bit is:

[2018-03-06 18:20] ghostsquad commented on #156
Yep, I read both those things, read the examples you had. I figured `version: every` is all I needed, but wasn't sure.

[2018-03-07 01:51] ndmckinley opened #157 "Add a label on `out`"
Hi again!

Would you accept a patch to add a list of labels specified in `params` under a `put`?  My use case is that my workflow needs to:

1. Do a build
2. Wait for a human to approve some output
3. Make some changes and merge the PR

I am accomplishing this by having two separate resources (since "wait for a human" isn't very cleanly supported in concourse).  One resource picks up on new PRs, a

[2018-03-08 05:08] jtarchie commented on #157
How would the label be set? For example, would it be a file reference or a static value in a pipeline YAML.

It seems the label is just for clarification of a status. You are able to use [search](https://help.github.com/articles/searching-issues-and-pull-requests/#search-based-on-commit-status) on pull requests for the status.

[2018-03-08 13:57] jtarchie commented on #156
Great! Sounds like your issue is resolve. Going to close the issue.

[2018-03-08 13:57] #156 closed

[2018-03-08 17:14] ghostsquad commented on #156
@jtarchie did you update the docs? Or did you want me to submit a PR for that?

[2018-03-08 18:24] ndmckinley commented on #157
I'd prefer it as a static value, but I'd be willing to do file reference if you think that might be more broadly useful.

I agree, the label is useful to me as a clarification of status, because my second resource can filter on label, but can't filter on status.

[2018-03-15 23:38] jtarchie commented on #157
I’d accept a pr on this.

[2018-03-15 23:52] jtarchie opened #166 "Discontinued support of the resource"
I’m going to be discontinuing support of this resource come 4/1/2018. No longer responding to PRs, issues, etc.

Happy to give others access and control, after vetting and discussion. I no longer have time to support this resource.

Please comment here if you've any interest. Thanks.

Or if someone wants to pay me. I'll reconsider.

[2018-03-16 02:48] edude03 commented on #166
I'm not sure how much time I have either, but I'd be willing to help

[2018-03-19 21:18] shinmyung0 commented on #166
@jtarchie thanks for all the great work you put in this resource. One quick question, what was the reason you are discontinuing support for it? Is there a better alternative for dealing with PRs inside of Concourse in an upcoming release?

[2018-03-20 21:39] crstamps2 commented on #166
I would gladly take it over.

[2018-03-21 00:14] ghostsquad commented on #166
I'm working on a pure Golang alternative. I'll post a link when I'm done.

[2018-03-21 20:04] crstamps2 commented on #166
How do you want to do this @jtarchie?

[2018-03-23 13:24] jtarchie commented on #166
@crstamps2, check email.

[2018-03-31 16:03] jtarchie commented on #166
@crstamps2 and I have talked through the passing off the resource.

1. It will remain under my _org_ (jtarchie) until it seems necessary to move it. This is true for both Github and Docker.
1. @crstamps2 and I have worked together before. They are enthusiastic, loves open source, and just an awesome person! Please treat them well.
1. I'm stepping back. I'm not going to even hover. Please don't **c

[2018-03-31 16:03] #166 closed

[2018-03-31 16:05] jtarchie commented on #46
Concourse team is working on this as of the spaces feature. No need to comments on this anymore.

[2018-03-31 16:05] #46 closed

[2018-04-12 16:01] roryp2 opened #168 "Allow to limit by which PRs are triggered by either PR number(s) or branch format"
I want to be able to create a pipeline for a specific PR while still getting the git hooks that this resource provides, but currently that isn't possible without also providing a git reference for that PR which is too limiting (via the version).

Either limiting by a pr number or based on a branch name or branch regex would be useful.

I've created a fork to test by filtering by a specific PR numb

[2018-04-19 14:49] trivigy opened #169 "pull request fails when running on a repo which has no pull requests."
It seems like the issue has to do with grabbing the pr['number'] which is then appended to the string. Since this is a repo with no pull requests this fails because the generated string ends incomplete and github api returns 404 for the api endpoint not being found.

Here is the error I am getting:
[code]

[2018-04-24 13:28] skennedy opened #174 "Add ability to define comment using static text"
Was wondering if you would accept a PR to allow specifying a PR comment using static text, rather than file contents?

This is very much inspired by the slack resource (https://github.com/cloudfoundry-community/slack-notification-resource#parameters), where you can define your message using static text which can be parameterised by the build metadata.

Without this feature, it is surprisingly tric

[2018-04-24 19:15] trivigy commented on #169
@crstamps2 Getting back to you a little late but thanks for the quick response. The issue was on my end. I have built another resource that notifies other resources. Sorta a meta resource that uses the `fly check-resource` via the api. The reason I was getting the issue was because my resource was returning success while the other (prs) were not. This is more of a bug for a feature that doesn't ex

[2018-04-24 19:15] #169 closed

[2018-04-27 15:08] crstamps2 commented on #157
I have merged your code, however, I am still having trouble with the last step of the concourse pipeline since taking it over. I intend to close this issue once I resolved that.

[2018-04-27 15:09] crstamps2 commented on #168
Why not just create a pipeline for the branch in question, ignoring the PR aspect of it all together?

[2018-04-27 15:11] crstamps2 commented on #174
Yeah, I think this is a great idea. I would accept a PR on it.

[2018-04-27 16:36] #157 closed

[2018-04-30 07:51] roryp2 commented on #168
This is still useful for the PR hooks, but I guess it would be easier just to use the git resource and create a separate PR hook resource

[2018-04-30 09:51] drahnr opened #176 "Unclear doc regarding `out` parameter `path`"
I am not sure what this is supposed to be, so  far I tried to equal it to the directory name of my task execution, hence `dir: x` would imply `path: x`:

[code]

[2018-05-01 20:19] sethcleveland opened #177 "Add phrase support to trigger builds"
To the best of my knowledge, the only way to run a build with a PR again is to commit code. At scale, sometimes tests fail intermittently. Moreover, time based tests can fail on occasion and code changes aren't necessary for the build to pass. I'd like the ability to trigger another build by making a comment on the PR -- "test this please". Jenkins PR builder offers this support. Any chance we can

[2018-05-03 01:47] jtarchie commented on #176
Is the repo something the access token has access to write to? It's pretty standard for the GitHub API to return 404 when you don't have access to do something. That way it doesn't expose data.

[2018-05-03 01:58] jtarchie commented on #177
Please see #46.

[2018-05-03 01:58] #177 closed

[2018-05-03 08:58] drahnr commented on #176
Seems my second comment got lost. It was exactly that. Still I wasn't aware of the issue and a hint by the resource would be appreciated.
If you differ, feel free to close this issue.

[2018-05-03 20:43] popkutty opened #178 "[Help wanted] Trigger manually"
I searched all issues and documents, I don't find answer. I see few PR test has not been started. How do I manually trigger for new PR number. For existing on which was already ran, I can retry the build. For new PR if the pipeline not started how could I start one?

[2018-05-04 09:42] sdduursma commented on #53
I'm also looking for a way to run a build whenever either the base branch or the head branch of a PR is changed. It would be very useful if `github-pullrequest-resource` supported this.

[2018-05-10 23:38] CodeClimbing opened #180 "Merges pull request before updating status"
I want to be able to update the status and then automatically merge a pull request. I'm experiencing an issue where sometimes the merge happens first and the status never gets updated.

Pipeline Config:

`- put: git-pr-merge
    params:
      path: git-pr-merge
      status: success
      merge:
        method: merge`

[2018-05-11 19:14] mvargeson commented on #112
@jtarchie I am witnessing the same behavior on what should be the latest image for this resource type.

<img width="555" alt="version-change-mid-build" src="https://user-images.githubusercontent.com/599972/39941843-ac028016-5512-11e8-85a6-1c74f3c74a50.png">

The image above corresponds to the following steps in the job plan:
[code]

The timeline is very similar to what @vrinek described.
- Commit

[2018-05-14 19:26] jemishdave opened #181 "[Help Wanted] Build numbers reported in Github correspond to wrong builds and in completely different pipelines"
We have team members who have reported an issue few times where the CI Status message in the Gihub Pull Request corresponds to a wrong build number for a wrong job in a completely seperate pipeline.
Example here shows 3 images. First image shows two consecutive commits a day apart
Second and third images are screenshots for their respective CI builds
As shown in the image, we can see the commits a

[2018-05-16 04:07] jtarchie commented on #181
@jemishdave, I am not following along what your issue is.

1. Are you showing that the status (success/failure) is being applied to the incorrect SHA?
2. Are you showing that the build number doesn't appear somewhere?
3. Are you showing that the build link goes to an incorrect place?

[2018-05-16 04:08] jtarchie commented on #178
@PasupathiRajamanickam can you show us what you've tried, the actual YAML of the pipeline?

[2018-05-16 07:59] jemishdave commented on #181
Updates below:

Are you showing that the status (success/failure) is being applied to the incorrect SHA?
JD: This might be true. Not sure
Are you showing that the build number doesn't appear somewhere?
JD: The build number does appear
Are you showing that the build link goes to an incorrect place?
JD: Yes, this is the case exactly. The Pull Request Resource is looking for changes to MASTER branch

[2018-05-23 13:45] john681611 commented on #181
Github is getting failed status messages from builds that aren't linked to the repo or pr.
We are running concourse v3.8.0
Your examples don't show sending pending messages do we need to?

[2018-05-23 20:28] jacob-hd commented on #178
I experience this as well. No matter how long I wait, it just won't start building some PRs:
![image](https://user-images.githubusercontent.com/31864739/40449400-34f26d54-5e8d-11e8-98bc-20f4192385f1.png)

It's been like this for days.

[2018-05-23 20:54] jacob-hd commented on #178
We were not!

I just applied `version: every` to the `get`:
[code]
...and re-triggered a check, but it did not help. I'm going to uninstall and re-install the pipeline, and hope that solves it...

[2018-05-23 20:56] jtarchie commented on #178
yeah you have to do that. Concourse does not trigger `every` after it has already detected versions.

[2018-05-23 20:58] jacob-hd commented on #178
Got it, thanks @jtarchie !

[2018-05-23 21:28] jacob-hd commented on #178
@jtarchie -

Even after re-applying the entire pipeline:
![image](https://user-images.githubusercontent.com/31864739/40452091-899b25a0-5e95-11e8-8713-86d5ab24cbde.png)

It still will not run some of the PRs:
![image](https://user-images.githubusercontent.com/31864739/40452075-7839a4bc-5e95-11e8-81fc-0648eafdd583.png)

:cry:

[2018-05-23 21:33] jacob-hd commented on #178
Evidently, after 15 minutes, they all kicked off at once:
![image](https://user-images.githubusercontent.com/31864739/40452316-4ff96ae0-5e96-11e8-8885-985d49a60366.png)

[2018-05-23 21:48] Pasupathi-Rajamanickam commented on #178
For me some times when I retry Build 10 -> pointing PR 405 on 4th may
The retried build pointing to PR 415
Confusing

[2018-06-05 00:31] jacob-hd commented on #178
This issue is recurring insidiously for us, even after applying `version: every`. It may be unrelated to this resource, and an issue with Concourse itself.

I've documented the issue further here:
https://github.com/quotecenter/concourse-issue

The issue includes our full pipeline for scrutiny.

[2018-06-13 18:37] jverrone3 opened #189 "Pull Request updates do no trigger new check"
**Describe the bug**
When adding additional commits to an existing Pull Request, this resource does not get triggered. GitHub sits in a `Waiting for status to be reported` state until resource is manually triggered with `fly check-resource`

**To Reproduce**
[code]

**Expected behavior**
Job `unit-test-check` gets triggered when committing additional code to an existing PR.

[2018-06-13 19:58] jverrone3 commented on #189
@crstamps2 sits right next to me and helped me figure this out. not an issue, just a misunderstanding on how concourse resources work on my part. Thanks, Cody!

for anyone else who stumbled across this issue and is wondering about the solution: this resource isn't set to `check_every` like the default `git` resource, so I will be using a GitHub webhook to trigger this resource on new PR commits.

[2018-06-13 19:58] #189 closed

[2018-06-25 15:15] brunoban opened #190 "Readme is pointing to wrong links on Concourse Docs"
The links that are included in the Readme are pointing to the wrong links in the Concourse docs. I opened a PR to fix that.

[2018-06-25 15:22] #190 closed

[2018-06-28 16:13] xtremerui opened #193 "require_review_approval doesn't enforce reviewer approval when there are following commits for the PR"
**Describe the bug**
The job got triggered by the new versions of the pr resource when the initial commit of the pr is approved and there are following commits of the pr made.

**To Reproduce**
1. Set a pr resource to have `require_review_approval` to be true
2. Make a pr and approve the pr
3. The job should be triggering
4. Make a new commit for the pr
5. The job will be triggered with the new co

[2018-06-28 16:13] xtremerui commented on #193
Would like to submit a pr for this if needed.

[2018-06-29 15:42] xtremerui commented on #193
NVM. It turned out to be a configuration on github. `require_review_approval ` works as expected.

Basically the repo needs to enable the `Dismiss stale pull request ...` option below. Refer to [About pull request reviews -> Tips](https://help.github.com/articles/about-pull-request-reviews/)

![screen shot 2018-06-29 at 10 40 14 am](https://user-images.githubusercontent.com/1585949/42101362-e89e70

[2018-06-29 15:42] #193 closed

[2018-06-29 23:48] ndmckinley opened #194 "It would be helpful to have the name of the repo that the PR comes from."
I could use this in particular because I use Concourse to generate artifacts from the input PRs and push them up to the PR branch - if the PR is created from a fork instead of from my repo, I can't find that out right now.  I've written a PR that adds this - it's very simple.

[2018-06-30 01:13] ndmckinley opened #196 "`out`'s `status` and `in`'s `params: fetch_merge: true` don't interact well."
**Describe the bug**
If you fetch a PR with
[code]
and then upload a status later with
[code]

You'll upload a status for the merge commit, which doesn't show up on the Github Pull Request page.

**To Reproduce**

Fragment:
[code]

And then you make sure that the merge commit isn't empty, and bang, problem!

**Expected behavior**
I expect the "pending" status to show up on the Github PR page.  But

[2018-07-03 12:19] antonu17 commented on #114
The problem is still there. I confirm that GitHub updates ETag header every time PR is closed/opened/changed. Maybe it is a bug in faraday-http-cache library then?

[2018-07-22 07:43] YonatanKiron opened #198 "Add delete_label parameter"
Just like there is a `label` parameter that's add a label to a pull request, I would love to have `delete_label` parameter.

[2018-07-22 07:43] YonatanKiron commented on #198
https://github.com/jtarchie/github-pullrequest-resource/pull/186

[2018-07-31 13:43] moafred opened #199 "`paths` in source configuration does not work"
**Describe the bug**
The `paths` source configuration does not work. I'm currently using the `ignore_paths` that works.

**To Reproduce**
[code]

[2018-07-31 16:17] Fi3 opened #200 "Impossible to fetch from private repository with ssh"
**Describe the bug**
github-pullrequest-resource can not read from remote repository when repository is private.

The below pipeline without `rsources[0].source.uri` and `rsources[0].source.private_key` and with `fi3/prova-pr-councurse` set as public work as expected. If I do a PR against master it run `test.sh` just an `ls` that return `0` and it check the PR as good. But as soon as I make the re

[2018-07-31 18:14] jtarchie commented on #200
It looks like you've indented the private key to many spaces. Whitespace matters with it.

Try removing two leading spaces on each line of the key.

[2018-07-31 18:25] jtarchie commented on #199
Do you have a reproducible example? It seems to work for me.

[2018-08-01 07:42] moafred commented on #199
Maybe additional information can help: I'm using the fly/concourse version `3.14.1`.

It's a private pipeline and repository, but I will do more check if it's work for you and try to create a reproducible example.

[2018-08-01 09:00] Fi3 commented on #200
Nothing I got the same error.

[2018-08-01 13:58] sc68cal commented on #200
`      private_key: |-`
Dumb question but does the `-` after the pipe symbol belong? My configuration does not have that.

[code]

And I had success cloning repos

[2018-08-01 14:00] sc68cal commented on #200
Here's the resource definition

[code]

[2018-08-01 14:37] Fi3 commented on #200
I confirm  that both the `-` after `|`  and the leading white spaces are not a problem. I tried to change the keys and now it works (in my own defense :-D i had to say that I already tried it but probably I copied the wrong key 2 times)

[2018-08-02 11:28] moafred opened #202 "Why do we need `path` in `out` ?"
I don't understand the need of the `path` parameter that force me to add a `get` of the pull request resource.

If i remove the `get` i got this error:
[code]

Sample:
[code]

The `path` is equal to the name of the resource.
I'm force to add `- get: pull-request` in order to make a `put` command otherwise i got this error:
[code]

**Describe the solution you'd like**
1. I don't want to add an unne

[2018-08-02 13:08] jtarchie commented on #202
The `put` does not get any information to what version it needs to work against. The `path` is required to have the metadata to actually post the `status` to the correct SHA. The `get` is concourse's way of supplying version information to a job, which includes the `put` statement.

There is no way with concourse to do what you are proposing.

[2018-08-02 13:08] #202 closed

[2018-08-02 13:16] moafred commented on #202
Thanks for answering, it's clear to me now :)

[2018-08-12 19:58] simonmacklin opened #203 "pull requests fail on private repos with "fatal: could not read Username for 'https://github.com': No such device or address""
**Describe the bug**
when trying to use this resource with private repos I get this error "fatal: could not read Username for 'https://github.com': No such device or address"

**To Reproduce**
- name: git-pull-requests
  type: pull-request
  source:
    access_token: ((git_token))
    repo: username/repo
    base: master

- name: test-pull-request
  plan:
  - get: git-pull-requests
    trigger: tr

[2018-08-12 20:12] simonmacklin commented on #203
Please ignore above.  I am sorry.  Setting the uri to use ssh fixed the issue.

Kind Regards

Simon

[2018-08-13 16:33] #203 closed

[2018-08-13 16:34] #200 closed

[2018-09-06 20:08] TG-KK commented on #198
@jtarchie When can this be merged ?

[2018-09-06 21:30] jtarchie commented on #198
Please read #166.

[2018-09-10 20:38] silverlyra opened #205 "Clone URI defaults to HTTPS when an SSH private key is set"
**Describe the bug**
The `uri` in the source configuration defaults to `https://github.com/…`, even when `private_key` is set.

**To Reproduce**
[code]

**Expected behavior**
`uri` should default to `git@github.com/(repo).git`

[2018-10-01 21:57] jamesgoodhouse opened #208 "Status Update – 404 Not Found"
**Describe the bug**
I have a `put` task that is resulting in a 404 Not Found from GitHub. The `get` is working fine. This is a GitHub enterprise installation, and I have the `api_endpoint` set for the resource.

The error:
[code]

**To Reproduce**
[code]

**Expected behavior**
I expect this to successfully update the status.

[2018-10-01 22:34] jtarchie commented on #208
This is usually associated with you access token not having the correct permissions. Please see the README for the permissions to have enabled.

[2018-10-01 23:16] jamesgoodhouse commented on #208
@jtarchie: That was it! The `Not Found` took me down the wrong path. Sorry about that, and thanks for your help!

[2018-10-01 23:16] #208 closed

[2018-10-04 20:41] NickLarsenNZ opened #209 "Github Enterprise URL and Username error"
**Describe the bug**
If I set the `api_endpoint` to `https://github.internal/api/v3/`, I can detect PRs, however when I try to set the status in a job, I get the following error in the **get**:
[code]

So then I also set the `uri` to `https://github.internal/MYORG/my-repo`, and receive the following error in the **put**:
[code]

**To Reproduce**
My resource configuration:
[code]

**Expected behavi

[2018-10-19 13:16] crstamps2 opened #210 "Direct Users to github-pr-resource"
After having a conversation with @jtarchie and the conversation that was had as part of [this](https://github.com/telia-oss/github-pr-resource/issues/34) issue, we have decided to start the process of archiving this resource.

While this resource has been a huge benefit, the current state of this resource would require a heavy rewrite to use GraphQL, and the new resource is very well along the way

[2018-11-07 16:46] jtarchie commented on #210
PR merged.

[2018-11-07 16:46] #210 closed